[2019-12-19 15:07] frinyvonnick opened #2 "Batch multiple images"
I would be nice to create multiple images using the same template in only one instance of puppeteer

[2020-01-29 22:05] jordan314 opened #3 "Transparency support"
Thanks for this! Would it be possible to support transparent backgrounds?

[2020-01-30 08:16] frinyvonnick commented on #3
Hi @jordan314, thank you for this suggestion. It seems possible using the `omitBackground` property of `screenshot` method. Here is the call to [screenshot](https://github.com/frinyvonnick/node-html-to-image/blob/master/src/index.js#L26). What would you prefer a generic property called `puppeteerScreenshotArgs` to enable overriding screenshot default values or a specific property like `transparent

[2020-02-12 12:20] samuelbeard opened #4 "Output image won't display images."
If I have an image in my html template, it is not displayed in the outputted image.

Is this something I am missing or does this not work?

[2020-02-12 13:11] frinyvonnick commented on #4
Hi @samuelbeard,

Thank you for taking the time to post this issue 🙏

Does this image is present locally or it is an url ? In case of local images I recommend you having image in base 64. Here is an [example](https://stackoverflow.com/questions/24523532/how-do-i-convert-an-image-to-a-base64-encoded-data-url-in-sails-js-or-generally) to convert image to base64. Then you can pass it to the template

[2020-02-12 13:33] samuelbeard commented on #4
Great idea. Thanks!

[2020-02-12 13:45] frinyvonnick commented on #4
I close the issue. I let you reopen it if needed 👍

[2020-02-12 13:45] #4 closed

[2020-02-29 01:50] jordan314 commented on #3
Ooh omitBackground: true worked, thank you! For my purposes a specific property like transparent would work. Thanks!

[2020-03-04 04:04] jasetom opened #5 "Showing images or having background"
Hi there, is there a way to display images using <img> tag or using CSS? I can't seem to be able to display those when I render the images using this module

[2020-03-04 08:06] frinyvonnick commented on #5
Hi @jasetom 👋

Thank you for posting this issue. Are the images you want to display on your local disk? If so I invite you to read this [issue](https://github.com/frinyvonnick/node-html-to-image/issues/4) in which I explain how to display local images.

If this solves your issue feel free to close it.

[2020-03-05 01:56] jasetom commented on #5
Perfect, it worked. thank you!

[2020-03-05 01:56] #5 closed

[2020-03-24 08:19] frinyvonnick commented on #2
I think about giving ability to the user to give a browser instance to avoid creating a new instance each time node-html-to-image is called.

[2020-03-24 13:38] #3 closed

[2020-03-24 13:45] frinyvonnick commented on #3
It is available in version 1.2.0 🎉

[2020-04-09 23:29] djebR opened #9 "Buffer() is deprecated"
(node:3520) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.

[2020-04-10 14:09] frinyvonnick commented on #9
Hi @djebR 👋

Thank you for opening this issue. I'll try to guess what is your problem. I bet you try to import a locally stored images. @mrbjjackson made some improvements on the section [Dealing with images](https://github.com/frinyvonnick/node-html-to-image#dealing-with-images) to avoid this message. Does following this new implementation fix your issue?

[2020-04-11 17:39] djebR commented on #9
The issue is avoided by adding the line:
const dataURI = 'data:image/jpeg;base64,' + base64Image

thanks for the reference.

[2020-04-11 17:39] #9 closed

[2020-04-17 05:53] shankha007 opened #12 "Conflict in case of instructions regarding output tag"
`const express = require('express');
const router = express.Router();
const nodeHtmlToImage = require('node-html-to-image');

router.get(`/api/tweet/render`, async function(req, res) {
  const image = await nodeHtmlToImage({
    html: '<html><body><div>Check out what I just did! #cool</div></body></html>'
  });
  res.writeHead(200, { 'Content-Type': 'image/png' });
  res.end(imgBinary, 'binary');

[2020-04-17 07:23] frinyvonnick commented on #12
Hi @shankha007 👋

Thank you for posting this issue. Sure, this is a bug. I forgot about this error while reviewing #10. Do you want to open a pull request to make usage of output property optional?

[2020-04-17 07:27] shankha007 commented on #12
Yes, it will be helpful for me :)

On Fri, Apr 17, 2020 at 12:53 PM Yvonnick FRIN <notifications@github.com>
wrote:

[2020-04-17 07:55] frinyvonnick commented on #12
Nice, I'm eager to review it 👍

[2020-04-17 12:19] corte opened #13 "Using the buffer not working"
In the readme says that we can get the buffer using:
[code]

But that throws exception immediately:
[code]

[2020-04-17 12:48] frinyvonnick commented on #13
Hi @corte,

Thank you for taking time to post this issue 🙏. It is duplicated, I close it in favor of #12, the author of this issue will open a pull request.

[2020-04-17 12:48] #13 closed

[2020-04-21 10:55] frinyvonnick commented on #12
👋 @shankha007 I need this before publishing a new version. Do you think you have time to do it in the next few days or should I do it myself?

[2020-04-21 10:56] shankha007 commented on #12
You better do it for now. I am little bit busy in my project...

On Tue, Apr 21, 2020 at 4:25 PM Yvonnick FRIN <notifications@github.com>
wrote:

[2020-04-21 11:07] frinyvonnick commented on #12
Ok, no problem I understand. Maybe you could contribute later 👍

[2020-04-27 20:18] tmauricio opened #17 "Error: You must provide an output property."
En la documentacion hay un ejemplo del estilo:
return await nodeHtmlToImage({
    html: imageModelExample,
  });

que en lugar de guardar la imagen en el proyecto devuelve el binario. Pero no funciona porque el parametro "output" es obligatorio.

[2020-04-27 21:32] frinyvonnick commented on #17
Hi @tmauricio,

Thank you for posting this issue.

I only speak english and french, sorry. With the title I guess this issue is duplicated with #12. A pull request #16 is open to fix this issue. I'll close this issue in favor of #12.

[2020-04-28 06:38] #17 closed

[2020-04-30 14:35] ZimberlyTheIrken opened #18 "Error: Failed to launch the browser process!"
hi, i am writing a report. this is in repl.it, and i do have all dependencies, even the dependencies' dependencies installed. what do I do?
only use code snippet:
[code]

[2020-05-03 15:56] SteeledSlagle13 opened #19 "Base64 image issue"
Running into an issue trying to use a base64 local image.

I saw Buffer has a deprecation warning so im using the buffer readFileSync returns as my image.

Going off the example this is what I would think would work, but I get a transparent image and not the image i am passing in...

Not sure if it is an issue or a thing on my end...

__Code__
[code]

__Workspace Setup__
![image](https://user-imag

[2020-05-03 16:06] SteeledSlagle13 commented on #18
what is the console output?

[2020-05-03 16:43] SteeledSlagle13 commented on #19
it's working with remote images but my use case is for local images

[2020-05-05 14:19] Keerat666 commented on #18
I am getting the same " UnhandledPromiseRejectionWarning: Error: Failed to launch the browser process!" issue! Any help will be appreciated!

[2020-05-05 14:47] frinyvonnick commented on #18
Hi @Keerat666 in repl.it too ?

[2020-05-05 15:09] Keerat666 commented on #18
Hey! Got it fixed by installing puppeteer.

Thanks!

[2020-05-05 15:34] frinyvonnick commented on #18
It looks weird since `puppeteer` is listed in `node-html-to-image` [dependencies](https://github.com/frinyvonnick/node-html-to-image/blob/master/package.json#L11).

[2020-05-05 16:05] Keerat666 commented on #18
But for some reason, it was not installed. I tried creating an API by using the library and I am getting the image created in 19s. Any way to optimize it?

[2020-05-05 16:09] frinyvonnick commented on #18
@Keerat666 This is not the purpose of this issue. I invite you to create a new one to discuss on this topic. Thank you 😄

[2020-05-05 16:28] Keerat666 opened #20 "Any way to increase the conversion speed?"
Got an initial time of 19s to convert an html to image. Any way to fasten up the process?

Thanks!

[2020-05-06 08:59] frinyvonnick commented on #19
Hi @SteeledSlagle13 your example does not use the code version in the README to deal with [local images](https://github.com/frinyvonnick/node-html-to-image#dealing-with-images). Could you try using it?

[2020-05-06 16:21] SteeledSlagle13 commented on #19
hey @frinyvonnick looks like the readme here worked
i was going off the readme on [npm page](https://www.npmjs.com/package/node-html-to-image)
![image](https://user-images.githubusercontent.com/25378777/81201990-93231f00-8f8b-11ea-85a4-8006b86d5a20.png)
Thank you very much! 😄

[2020-05-06 16:26] frinyvonnick commented on #19
I close this issue 👍 I will be fixed with the new release 😄

[2020-05-06 16:26] #19 closed

[2020-05-07 23:00] joshuabahr opened #21 "Output is required - but conflicts with using output as a buffer instead of saving to disk"

[2020-05-08 07:55] frinyvonnick commented on #21
Hi @joshuabahr,

Thank you for posting this issue. It is duplicated I close it in favor of #12.

[2020-05-08 07:55] #21 closed

[2020-05-08 23:13] jewkesy commented on #20
Hey @Keerat666, have you got an example page?

The conversion is done via Puppeteer, the library is just a wrapper.  However 19secs does sound high.

[2020-05-11 15:56] fiantinangon commented on #18
can we add ["--no-sandbox"] args ?

[2020-05-11 16:36] frinyvonnick commented on #18
@ZimberlyTheIrken can you confirm the solution proposed by @fiantinangon fix your issue?

[2020-05-12 00:43] fiantinangon commented on #20
You can minify your HTML script before rendering it, and compress all image assets, it will help to increase rendering performance, cause puppeteer can open your HTML page faster

[2020-05-12 04:52] weiyunpeng commented on #12
Has the problem been solved？

[2020-05-12 07:27] frinyvonnick commented on #12
This was fixed in #16 and published in 2.0.0

[2020-05-12 07:27] #12 closed

[2020-05-13 16:11] #20 closed

[2020-05-14 15:58] LuckyCoders opened #23 "Can I create animation?"
I have html code with animations
Can i built it in one gif/apng?

[2020-05-15 06:52] frinyvonnick commented on #23
Hi @LuckyCoders, sorry this module doesn't handle animations. I'll close this issue.

[2020-05-15 06:52] #23 closed

[2020-05-18 15:17] 2gotgrossman opened #24 "Is Gitmoji a necessary dependency?"
Hi @frinyvonnick, awesome package you've got here! I'm really excited to use it in production code, however I have a project running on Node v8.10.0 and the only blocker for installing this package is that `gitmoji-changelog` requires Node 10 or greater

[code]

[2020-05-18 15:22] frinyvonnick commented on #24
Hi @2gotgrossman,

Thank you for reporting this issue! This is a mistake, it should be listed in devDependencies. Would you like to open a pull request to fix this?

[2020-05-18 15:25] 2gotgrossman commented on #24
Done :) https://github.com/frinyvonnick/node-html-to-image/pull/25

[2020-05-18 15:29] 2gotgrossman commented on #24
@frinyvonnick thanks for the quick response! I don't know the Publish to Yarn/NPM process. Is that something I can do after I merge this PR or is that something you have to do?

[2020-05-18 15:39] frinyvonnick commented on #24
Thank you for opening a pull request. This is something I have to do. I'll do it as soon as possible 👍

[2020-05-18 16:50] 2gotgrossman commented on #24
Thank you tons, @frinyvonnick. Do you know when you can merge the changes and publish them? :D

[2020-05-19 07:24] frinyvonnick commented on #24
This has been merged in [2.1.0](https://github.com/frinyvonnick/node-html-to-image/releases/tag/v2.1.0) 🚀

[2020-05-19 07:24] #24 closed

[2020-05-19 08:35] robinmetral commented on #2
This would be great! I needed to generate 2k images and had to make my laptop open and close 2k headless chrome instances recursively 🙈

[2020-05-19 09:02] frinyvonnick commented on #2
Just had an idea of implementation. Here is how it would be used:

[code]

What do you think of it @robinmetral?

[2020-05-19 12:32] robinmetral commented on #2
Looks good! I'm not sure how the implementation would look like (not very familiar with Puppeteer), but I'm thinking that it could be abstracted away to keep the API simple:

[code]

This way, generating multiple images would be trivial for users, they just need to pass an array to `content` instead of a single object.

Of course you would still need something like your `initializeImageBatcher()`

[2020-05-20 10:45] Heziode opened #27 "options.quality is unsupported for the png screenshots"
I think this line cause trouble when I try to get a `png`:
https://github.com/frinyvonnick/node-html-to-image/blob/06f16e791eb026460c11394387cab95aee3ba144/src/index.js#L9

I got this error:
[code]

[2020-05-20 20:56] #27 closed

[2020-05-20 21:04] frinyvonnick commented on #2
It looks great @robinmetral. I'll try something like this 👍

[2020-05-21 07:12] robinmetral commented on #2
Sounds good! I'm a bit too busy these days to tackle this unfortunately, but I'm happy to review or test it!

[2020-05-23 15:36] SteeledSlagle13 opened #30 "Color issue"
Hey im seeing a color mismatch. :/
im using bootstrap as a css lib
where the text should be the color white and the red and blue under the progress bar shouldnt be faded

im running on a aws ubuntu 20 instance

Current Image:
![image](https://user-images.githubusercontent.com/25378777/82734367-37bd9480-9ce0-11ea-9d50-a22f0a4d0c8b.png)

Previously Generated(goal):
![imageDesired](https://user-image

[2020-05-23 15:36] SteeledSlagle13 commented on #30
i saw this https://github.com/puppeteer/puppeteer/issues/2685
tried that out and that didnt work :/

[2020-05-23 15:54] SteeledSlagle13 commented on #30
i just tried inline styling and that is working so it might be an issue with bs ill try something and let u know

[2020-05-23 16:40] frinyvonnick commented on #30
Hi @SteeledSlagle13,

Thank you for reporting this issue. If you find a solution about it that might be good to add it in the README. A section called "Working with CSS frameworks" would fit?

[2020-05-23 16:41] frinyvonnick commented on #18
I'll close this issue since the author didn't participate to it for 20+ days. Feel free to reopen it if your issue is not solved.

[2020-05-23 16:41] #18 closed

[2020-05-23 17:55] SteeledSlagle13 commented on #30
it might just be my environment causing the issue :/
it works on my desktop and ubuntu vm
just not my ubuntu ec2 instance :/

[2020-05-23 17:55] #30 closed

[2020-05-23 17:59] SteeledSlagle13 commented on #30
i added css classes where bootstrap failed to bring in what i needed

[2020-05-26 14:36] smallbitt opened #31 "error while loading shared libraries: libX11-xcb.so.1: cannot open shared object file: No such file or directory"
Hi,
A project with NodeJS latest version with express.
In localhost is everything fine and working perfectly, but when I deploy on Heroku and try to run the function I get this error.

`Failed to launch the browser process! /app/node_modules/node-html-to-image/node_modules/puppeteer/.local-chromium/linux-722234/chrome-linux/chrome: error while loading shared libraries: libX11-xcb.so.1: cannot open

[2020-05-27 02:18] Julianvschijndel opened #32 "How to set width and height value."
Hello,

First of all. You're a legend. This works 100%. There is still one question I have in mind.
How to set a width/height value to the image. I can't get it.

Hope to hear soon.

[2020-05-27 02:26] Julianvschijndel commented on #32
Also, is t possible to store the **html** into a file and get it when the code is called?

[2020-05-27 07:01] frinyvonnick commented on #32
Hi @Julianvschijndel 👋

There is a section about [output image resolution](https://github.com/frinyvonnick/node-html-to-image#setting-output-image-resolution) in the README. It should answer your first question 😄

Sure, you can store the HTML in a file for example called `template.html` then import it using `fs` module:

[code]

[2020-05-27 07:06] frinyvonnick commented on #31
Hi @smallbitt,

I'm not familiar with Heroku but it seems you have to install a specific buildpack if you want to use libraries that uses Puppeteer. Read more in this [issue](https://github.com/puppeteer/puppeteer/issues/758) or in Puppeteer's [troubleshooting section](https://github.com/puppeteer/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-on-heroku).

Hope it will help. Pleas

[2020-05-27 07:24] Julianvschijndel commented on #32
Hi @frinyvonnick ,

Thanks for the code I will check that asap. Also, can I use image that are coded in CSS but then use it like a png/jpg/jpeg and not de base64?

Hope to hear soon!

[2020-05-27 07:31] frinyvonnick commented on #32
If the images aren't stored locally it will work fine.

[2020-05-27 07:33] Julianvschijndel commented on #32
Hi @frinyvonnick ,

So the image cannot be stored locally to get it directly from css but needs to be on a website?

[2020-05-27 07:33] frinyvonnick commented on #32
Exactly, If it is stored locally you need to use the base64 method that is describe in the README.

[2020-05-27 07:40] Julianvschijndel commented on #32
Hi @frinyvonnick

Everything you said works fine. Thanks for the quick support! Have a nice day!

[2020-05-27 07:40] #32 closed

[2020-05-27 15:15] ritikamotwani opened #33 "Use of the the link tag in the html head"
Hi,
I want to use
[code]
in my project. But after adding this tag, if I use the font family in the content, none of the content appears in the final image.
Also unable to add local images in the img src. I have to follow this:

[code]

Are these bugs/new features to be added to the library?

[2020-05-28 07:07] frinyvonnick commented on #33
Hi @ritikamotwani 👋

Thank you for reporting your issue 🙏

I tried to reproduce your problem with a simple example in which I use your font and an image on the web:

[code]

Here is the result:

![image](https://user-images.githubusercontent.com/13099512/83109908-81342800-a0c2-11ea-9587-d4125885afab.png)

As you can see the font is the right one and the image is displayed. Can you try this example

[2020-05-28 14:41] simonschllng commented on #33
Same problem here. My <link> source goes to my server. I do not even see requests coming in.

[2020-05-28 16:08] frinyvonnick commented on #33
@simonschllng can you provide your server code?

[2020-05-28 19:44] ritikamotwani commented on #33
Hi @frinyvonnick !
Thanks for your reply. 😄
I can replicate the problem in this code too.
If I send a get request multiple times, the font renders sometimes and sometimes it shows no content as it cannot detect the font family.
<img width="795" alt="Screenshot 2020-05-29 at 1 10 45 AM" src="https://user-images.githubusercontent.com/22127980/83186174-bf285f00-a149-11ea-8bc3-9fc223466876.png">

[2020-05-28 19:52] frinyvonnick commented on #33
@ritikamotwani you can try to set the `waitUntil` property to `networkidle0`. It might fix your issue. Can you confirm it?

[2020-05-28 20:39] ritikamotwani commented on #33
@frinyvonnick
No, it doesn't. One in 6 7 times the text disappears from the image

[2020-05-28 20:40] frinyvonnick commented on #33
What is your node version?

[2020-05-28 20:54] ritikamotwani commented on #33
OS: macOS Catalina 10.15.2
Node Version: v10.19.0

[2020-05-31 04:59] udayraj21 opened #34 "UnhandledPromiseRejectionWarning: Error: Browser is not downloaded. Run "npm install" or "yarn install""
I have installed this library in node js. I am trying to get an image from html but I get
UnhandledPromiseRejectionWarning: Error: Browser is not downloaded. Run "npm install" or "yarn install"
error always.
 OS: Ubuntu 18.04 LTS
Node: v12.14.1
NPM: 6.14.5
-------------------------
Here is log:
-------------------------
(node:31583) UnhandledPromiseRejectionWarning: Error: Browser is not downloade

[2020-06-10 12:53] LegoFigure11 opened #35 "Error launching browser process on Raspberry Pi"
Heya! I'm trying to use this module in a discord bot running on my raspberry pi (Raspbian 4.19.66-v7+, node v13.14.0) and I run into the following error when trying to use the module: https://pastie.io/vyzgce.txt

[Here's the code I'm running](https://github.com/LegoFigure11/moodE/blob/master/discord/commands/color.js), and it works as expected when run on my windows desktop. As you can see, I tri

[2020-06-12 17:12] imenesesl opened #36 "<! DOCTYPE html> Error"
Hello, it's funny, this error, luckily I fixed it but it would be nice to see what happens.

I am using **`" pug ":" ^ 3.0.0 "`** to create an HTML template parsed to string, apart from that I use **`" pdf-puppeteer ":" ^ 1.1.10 "`**, all good so far, it is generated the pdf.
  Now go into action **`" node-html-to-image ":" ^ 2.1.1 "`**, I passed the same template but error
**`Node has 0 height.`*

[2020-06-12 17:13] imenesesl opened #37 "Define height and width in html"
Nothing has changed since issue #36 , the same libraries are still used, now the problem is that, if the image that is generated is cropped.

Both libraries receive the same template generated by pug (taking the consideration described in issue # 36 to generate the image)

PDF:
![image](https://user-images.githubusercontent.com/33881595/84529084-72df3200-aca6-11ea-8946-23b8d73f18e6.png)

IMAGE:
![

[2020-06-12 18:54] frinyvonnick commented on #37
Hi @imenesesl, It is explained in the section [Setting output image resolution](https://github.com/frinyvonnick/node-html-to-image#setting-output-image-resolution). Hope it will help 👍

[2020-06-12 19:01] frinyvonnick commented on #36
Hi @imenesesl 👋

Thank you for sharing your issue.

Do you have some error or stack trace to share when it breaks?

Furthermore node-html-to-image comes with a template engine called handlebars. Here is an [example](https://github.com/frinyvonnick/node-html-to-image#example-with-handlebars) of how to use it.

[2020-06-12 19:04] frinyvonnick commented on #35
Hi @LegoFigure11, thank you for sharing you issue 🙏

It definitely seems related to puppeteer. You looked over all related ressources which is nice. I recommend making an reproduction example without node-html-to-image and post an issue on puppeteer repository.

[2020-06-12 19:08] frinyvonnick commented on #34
Hi @udayraj21 👋

Thank you for sharing you issue. Could you provide me the code you used and tell me more about your environment please 🙏 ?

[2020-06-12 23:00] imenesesl commented on #37
@frinyvonnick  Thank you! it was more a style theme in the file consuming pug

[2020-06-12 23:00] #37 closed

[2020-06-12 23:02] imenesesl commented on #36
@frinyvonnick  It is interesting to experiment a little to know how it works with more complex data or objects with various properties.

[2020-06-12 23:10] imenesesl commented on #36
@frinyvonnick The only thing it generates is **Node has 0 height**, which is not very intuitive, accompanied by a 500 code

[2020-06-13 08:49] frinyvonnick commented on #36
This issue comes from puppeteer. It is thrown by the screenshot method.

[2020-06-15 21:40] #36 closed

[2020-06-17 12:18] LegoFigure11 commented on #35
Thanks for the swift response!

I (finally) managed to get it working with puppeteer on its own using the following code:
[code]
So modifying the code in my previous post to
[code]
makes it work!

Thanks so much for this module, and once again for your response. Closing this as resolved.

[2020-06-17 12:18] #35 closed

[2020-06-17 12:52] frinyvonnick commented on #35
Glad you achieved to fix it 👌

[2020-06-22 10:10] kuli00 commented on #34
@frinyvonnick I have the same issue

[code]

env:
serverless function in next.js
For now I'm testing this on local env

[2020-06-22 11:16] frinyvonnick commented on #34
Hi @kuli00, thank you for sharing your issue. Do you use yarn or npm? Which node version do you use?

[2020-06-23 06:23] kuli00 commented on #34
yarn - 1.21.1
node - 12.14.1

[2020-06-23 07:34] sravya-challa-au3 commented on #33
I'm facing the same issue, link tag to google fonts are not working. It is showing blank.
Is there any way to use custom fonts from local files?

[2020-06-25 09:09] frinyvonnick commented on #2
Hi @robinmetral 👋

I opened a pull request (#38) with the first implementation of this feature. You propose your help to test or review it. It would help me a lot if you could do it 🙏

[2020-06-28 10:55] DharmarajX24 opened #39 "Argument of type '{ output: string; html: string; }' is not assignable to parameter of type '{ html: any; output: any; type: any; content: any; quality: any; waitUntil?: string; transparent?: boolean; puppeteerArgs?: {}; encoding: any; }'."
I just copy pasted from README.md how to  get started and this error welcomed me....

`Argument of type '{ output: string; html: string; }' is not assignable to parameter of type '{ html: any; output: any; type: any; content: any; quality: any; waitUntil?: string; transparent?: boolean; puppeteerArgs?: {}; encoding: any; }'.`

[2020-06-28 10:59] DharmarajX24 commented on #39
**'require' call may be converted to an import.ts(80005)**

Do NOT convert to an `import` else this issue will occur

[2020-06-28 10:59] #39 closed

[2020-06-30 09:31] frinyvonnick commented on #33
I opened a pull request in order to fix this issue. Could one of you (@ritikamotwani @sravya-challa-au3) test it? All instructions are in #40. Thank you in advance 🙏

[2020-07-01 07:17] DharmarajX24 commented on #31
@smallbitt I had got the same error but it was on GCP Ubuntu VM.

https://medium.com/@cloverinks/how-to-fix-puppetteer-error-ibx11-xcb-so-1-on-ubuntu-152c336368

This fixes the issue but I doubt how will you use it on Heroku.. you need access the command line.

[2020-07-02 08:30] #2 closed

[2020-07-03 07:21] #33 closed

[2020-07-03 07:32] frinyvonnick commented on #33
This has been fixed and published in [3.0.0](https://github.com/frinyvonnick/node-html-to-image/releases/tag/v3.0.0) 🚀

[2020-07-03 07:32] frinyvonnick commented on #2
This has been fixed and published in [3.0.0](https://github.com/frinyvonnick/node-html-to-image/releases/tag/v3.0.0) 🚀

[2020-07-07 15:26] kuli00 commented on #34
@frinyvonnick any news?

[2020-07-10 08:34] OsamaJBR opened #46 "Changing body size with background corrupts the end result"
I'm trying to build a postcard image (png) using HTML, the body size is 320x512 and the background is the same. If you open this on chrome with device size (320x5120 it works perfectly.

See below :
![Alt desc](https://i.imgur.com/is35Vhb.png)

But when I use node-html-to-image to convert the same HTML, the image goes to Right, and the postcard is corrupted. See: ![Alt desc](https://i.imgur.com/Tp

[2020-07-10 10:01] frinyvonnick commented on #46
Hi @OsamaJBR, thank you for reporting this issue. In non-responsive mode I reproduce your issue (as you can see there is an empty space on the left):

![image](https://user-images.githubusercontent.com/13099512/87141937-1458a400-c2a4-11ea-8005-242a0a5c9e34.png)

It is related to page viewport. There are two solutions to fix your issue:

- Remove the first div `<div class="col-lg-4 col-md-4 col-1">

[2020-07-10 12:03] OsamaJBR commented on #46
It seems that the HTML I'm using is not right.

I've added browser options and fixed the HTML and now it works fine. Thanks.

[2020-07-10 12:03] #46 closed

[2020-07-14 14:11] aarshaw commented on #34
also having this issue ^

[2020-07-15 05:35] bentorkington opened #47 "Should Handlebars be a dependency?"
Since not all users will necessarily use templating, and those that do can simply pass the output from Handlebars (or potentially some other HTML template library that might better suit their needs), should Handlebars really be a hard dependency for the package?

[2020-07-20 16:00] frinyvonnick commented on #47
Hi @bentorkington,

I made this package for my own purpose I often use handlebars to make images so it removes boilerplate for me. It could be an optional dependency. If the user provides the `content` option without installing handlebars it could throw an error. What do you think of it?

[2020-07-21 22:50] bentorkington commented on #47
Hi @frinyvonnick 😀

Thanks for making your package available. This could work, another alternative might be to make two packages:
1. one package with no Handlebars dependency which only performs image generation
2. another package which is a wrapper for package 1 and uses Handlebars. Perhaps other templating engines like Nunjucks or Liquid would eventually get similar wrappers.

This would achieve

[2020-07-22 07:41] frinyvonnick commented on #47
I can't make a separate package easily because of the multiple image generation. Can't figure out how to split this up while keeping this feature 🤔 Do you have an idea?

[2020-07-24 13:52] sajib21 commented on #31
Were you able to solve this problem?
I tried passing `puppeteerArgs: { args: ["--no-sandbox", "--disable-setuid-sandbox"] }` in like

    nodeHtmlToImage({
        html: "...",
        content: {...},
        puppeteerArgs: { args: ["--no-sandbox", "--disable-setuid-sandbox"] }
    );
But it didn't work.

[2020-07-24 13:55] sajib21 opened #49 "When deployed to heroku, "Unable to launch browser, error message: Failed to launch the browser process!" error occurs."
Unable to launch browser, error message: Failed to launch the browser process!
Found this in the logs:
`/app/node_modules/puppeteer/.local-chromium/linux-737027/chrome-linux/chrome: error while loading shared libraries: libX11-xcb.so.1: cannot open shared object file: No such file or directory`

I tried passing `puppeteerArgs: { args: ["--no-sandbox", "--disable-setuid-sandbox"] }` like

    nodeH

[2020-07-24 23:06] Behkha opened #50 "TypeError [ERR_INVALID_ARG_TYPE]: The "original" argument must be of type function"
this error happens when i just require the package and run node index.js
what is the solution?

[2020-07-25 09:03] frinyvonnick commented on #50
Hi @Behkha 👋

Thank you for opening this issue. Can you share the code you wrote in index.js please?

[2020-07-25 09:05] frinyvonnick commented on #49
Hi @sajib21 👋

Thank you for opening this issue. Did you follow the [instructions](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-on-heroku) in puppeteer documentation about using it with Heroku?

[2020-07-25 09:34] sajib21 commented on #49
Thanks for the response. I did install a buildpack with `heroku buildpacks:set <buildpack repo>` but after doing so, the whole app was crashing. I foind the command and buildback git repo in a stackoverflow post. But now after trying your mentioned link, it worked finally.

So my solution was following these instructions: https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#run

[2020-07-25 09:34] #49 closed

[2020-07-25 09:43] sajib21 commented on #31
Update, I think you and I had the same problem. I resolved it and wrote about it in this issue: https://github.com/frinyvonnick/node-html-to-image/issues/49#issuecomment-663834469

[2020-07-25 11:54] frinyvonnick commented on #34
In another issue a [solution](https://github.com/frinyvonnick/node-html-to-image/issues/31#issuecomment-652239302) have been posted for Ubuntu. Does it help?

[2020-07-27 12:17] jaoxico opened #51 "page.close() missing"
I am using it in my project which I also use puppeteer.

The lack of "await page.close()" in "src/index.js" causes my script to fail when running "browser.newPage()".

[2020-07-27 12:21] frinyvonnick commented on #51
Hi @jaoxico 👋

Thank you for opening this issue. Could you share your code so I could reproduce it please 🙏

[2020-07-27 12:35] frinyvonnick commented on #34
@aarshaw @kuli00 @udayraj21 Did you try the solution in my previous message ☝️  ?

[2020-07-27 12:36] frinyvonnick commented on #31
@smallbitt did you try the fixes in the previous messages?

[2020-07-27 13:57] armandoarmando opened #52 "Not showing emoji"
Hey everyone!
I'm trying to create an image with emojis on my Ubuntu server.

`return await nodeHtmlToImage({
    output: `./public/output`,
    html: htmlFile,
    puppeteerArgs: { args: ["--no-sandbox"] }
  }).then(() => {
    return { image_src: output }
  })
    .catch((err) => {
      console.log('nodeHtmlToImage Error: ', err)
      return err
    })`

Result:
![image](https://user-images.gi

[2020-07-27 15:06] frinyvonnick commented on #52
Hi @armandoarmando 👋

Thank you for opening this issue. This seems related to your environment. Depending on your Ubuntu installation process emoji support is missing. Check out this [article](https://www.starryhope.com/linux/enable-emojis-ubuntu-1904/) to learn more. Does it solve your issue?

[2020-07-27 18:24] armandoarmando commented on #52
Amazing! Works great! thank you very much @frinyvonnick

[2020-07-27 19:00] frinyvonnick commented on #52
Nice, I'm glad it helps 😄 I close this issue 👍

[2020-07-27 19:00] #52 closed

[2020-07-29 21:46] bentorkington commented on #47
I'll get a PR in when I have time

[2020-07-31 10:49] sharadcodes opened #53 "How to run this as headless on my server ?"
I have to my app on heroku and it throws error if I dont use headless or disable the sandbox version of puppeteer.

[2020-07-31 10:49] #53 closed

[2020-07-31 12:30] frinyvonnick commented on #53
Sure, it is explained in [puppeteer documentation](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-on-heroku) 👍

[2020-07-31 12:33] sharadcodes commented on #53
Thanks for the reply I got it fixed.
Now the emojis are not rendered any way to fix that ?

[2020-07-31 12:35] frinyvonnick commented on #53
I explained it in the issue #52. Hope it will help 👌

[2020-07-31 12:35] sharadcodes opened #54 "Emojis are not rendered any way to fix that ?"
Emojis are shown as black and white and some of them appear as rectangles.

[2020-07-31 12:35] #54 closed

[2020-07-31 12:37] sharadcodes commented on #53
Thanks for the quick reply :+1:

[2020-07-31 12:46] sharadcodes commented on #53
@frinyvonnick It dosent work :(

[2020-07-31 12:52] frinyvonnick commented on #53
Maybe this [package](https://github.com/SimonBriche/heroku-buildpack-emoji-support) will help you. I don't know Heroku, I can't help you more on this topic, sorry 😞

[2020-07-31 12:54] sharadcodes commented on #53
No problem, I'm remotely sending the text, some emojis are rendered as black and white some are not rendered.

Thanks for the time :smile:

[2020-08-01 15:10] sharadcodes commented on #53
It worked😄

[2020-08-02 10:28] Behkha commented on #50
i just used the examples nothing more

[2020-08-02 10:57] frinyvonnick commented on #50
Can you share me some environment information (node version, npm version, os, ...)

[2020-08-02 12:39] Behkha commented on #50
node v8.11.4
npm v6.13.1
os: windows

[2020-08-02 15:11] frinyvonnick commented on #50
Could you provide me the error with the full stacktrace please?

[2020-08-02 22:26] Behkha commented on #50
`const nodeHtmlToImage = require('node-html-to-image')`

This is the only code in my js file and below is the stacktrace

internal/util.js:209
    throw new errors.TypeError('ERR_INVALID_ARG_TYPE', 'original', 'function');
    ^

TypeError [ERR_INVALID_ARG_TYPE]: The "original" argument must be of type function
    at promisify (internal/util.js:209:11)
    at Object.<anonymous> (E:\Programming\My

[2020-08-07 08:06] mamidd commented on #50
I have similar error and when it goes in error it generates 4 zombie processes.

I use this dockerfile to run the code:
FROM node:12.18.0-buster-slim@sha256:97da8d5023fd0380ed923d13f83041dd60b0744e4d140f6276c93096e85d0899

RUN  apt-get update \
    && apt-get install -y wget gnupg ca-certificates \
    && wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add - \
    && s

[2020-08-17 04:12] shameersalim opened #55 "Issue in using a custom ttf font within an express app"
Hi
The library is wonderful and works perfectly. I want to know if I can use a custom ttf font deployed as part of my express app.
Sample code that doesnt work.

app.get(`/api/tweet/render`, async function(req, res) {
    const htmlString = `
    <html>
    <head>
    <style>
      body {
        width: 1600px;
        height: 2000px;
      }

      @font-face {
        font-family: "LCSmith_TypeW

[2020-08-27 00:00] bna-ch opened #56 "Generation of Images takes a really long time."
I am trying to generate an image from html, but it takes around 10 seconds to generate one image. I only have a single table in the html. Is there any way to reduce the image generation time?

[2020-08-30 20:20] haffoudhi commented on #50
It occurs with the latest version of puppeteer.
Your scripts should work properly in a lower version.

Try this script:
`npm i -save puppeteer@1.7.0`

[2020-09-02 10:16] rajanaggarwal1 opened #57 "Unzipped size must be smaller than 262144000 bytes (Service: AWSLambdaInternal; Status Code: 400; AWS lambda"
trying to use this package with aws lambfa but getting size issue.can some one help on this?

Error :  Unzipped size must be smaller than 262144000 bytes (Service: AWSLambdaInternal; Status Code: 400; Error Code: InvalidParameterValueException; Request ID: 7fa17ead-21c3-410e-9269-c187c12c9b84; Proxy: null).

Thanks in advance

[2020-09-07 04:10] bandarawaththa commented on #50
It also happened to me with just basic code
`const nodeHtmlToImage = require('node-html-to-image')`
this is the error in console
`internal/util.js:214
    throw new errors.TypeError('ERR_INVALID_ARG_TYPE', 'original', 'function');
    ^

TypeError [ERR_INVALID_ARG_TYPE]: The "original" argument must be of type function
    at promisify (internal/util.js:214:11)
    at Object.<anonymous> (/home/cha

[2020-09-16 11:47] MarkDeuerling opened #60 "How to set window size?"
How to set the size of the sceenshot? Already passed the --window-size=1920,1080 flag, but it still used the default resolution.

[2020-09-16 11:59] frinyvonnick commented on #60
Hi @MarkDeuerling 👋

There is a [section](https://github.com/frinyvonnick/node-html-to-image#setting-output-image-resolution) in the README on this topic!

Please close this issue if it helps you 👌

[2020-09-16 12:08] frinyvonnick commented on #57
Hi @rajanaggarwal1,

It seems to be an error specific to AWS. node-html-to-image is really small but it uses puppeteer so it might be to weighty to work on AWS. I can't help you on this, I close this issue.

[2020-09-16 12:08] #57 closed

[2020-09-16 12:09] frinyvonnick commented on #56
Hi @bna-ch 👋

Could you share the code that generates the image so I could reproduce it?

[2020-09-16 12:33] #60 closed

[2020-09-16 12:45] frinyvonnick commented on #31
I close this issue, feel free to reopen it if you have further information.

[2020-09-16 12:46] frinyvonnick commented on #34
I close this issue, feel free to reopen it if you have further information.

[2020-09-16 12:46] #34 closed

[2020-09-16 12:46] frinyvonnick commented on #51
I close this issue, feel free to reopen it if you have further information.

[2020-09-16 12:46] #51 closed

[2020-09-18 21:14] TheDevJulian commented on #56
Hi,

Also having the same problem. I will post my problem with code here to not create duplicate.
Images takes like minimal 3 tot max 15 seconds to generate. See my code:

[code]

I tried with a `.then()` but still generating slow. Also a `async` with `await` will not speed up the process. Every cards needs another name. I don't know if the problem is coming from that.

If there is more informatio

[2020-09-20 23:24] bna-ch commented on #56
Hi @frinyvonnick I am actually just using the sample code snippet provided in the docs.

`const nodeHtmlToImage = require('node-html-to-image')

nodeHtmlToImage({
  output: './image.png',
  html: `--replaced with my HTML content--- `
})
  .then(() => console.log('The image was created successfully!'))`

I just replaced the html string with my own html table, it would just take between 5 - 10 secon

[2020-09-21 02:57] tavyandy97 opened #61 "Access to puppeteer page element"
Is there any way to access the page element from puppeteer in node-html-to-image. For eg.
[code]

If not can it be added? Maybe in the form of a function where we can access the page element, just before taking a screenshot.

[2020-09-21 08:03] frinyvonnick commented on #56
With the example it lasts 330ms:
![image](https://user-images.githubusercontent.com/13099512/93744039-69445f00-fbf1-11ea-820e-993ca68e1684.png)

Without the html content I can figure out what takes so long. One of you can share it to me?

[2020-09-21 08:06] frinyvonnick commented on #61
Hi @tavyandy97 👋

There isn't any way to access page element for the moment. The function is a good idea in my opinion. We could call this option `beforeScreenshot`. Would you be interested in implementing this feature?

[2020-09-21 08:13] frinyvonnick commented on #55
Hi @shameersalim 👋

Thank you for posting this issue. I recommend you to use webfonts like in the snippet of this [message](https://github.com/frinyvonnick/node-html-to-image/issues/33#issuecomment-635151349). Otherwise here is an [alternative](https://github.com/puppeteer/puppeteer/issues/3183#issuecomment-635844987) to load custom font you have locally.

[2020-09-21 09:06] TheDevJulian commented on #56
Hi @frinyvonnick ,

I use this for my Discord bot and I runned some test myself. With a command I generated 200 images in one time.

I tracked the time the images how long it will take from them to be created. I saw that the fastest was **150 ms** and the slowest was **200 ms** with this my problem is fixed for now. I added a logger that will track how long images will be generated.

Thanks again

[2020-09-21 09:48] tavyandy97 commented on #61
@frinyvonnick Sure I'd be happy to contribute!

[2020-09-21 09:56] frinyvonnick commented on #61
Can't wait to see your PR 😉 If you have any questions, don't hesitate to ask 👌

[2020-09-21 12:36] eduardoabpereira commented on #56
i'm facing the same @bna-ch case

[2020-09-21 13:05] frinyvonnick commented on #56
Hello @eduardoabpereira,

Could you share the code/html so I can reproduce the issue?

[2020-09-21 13:30] eduardoabpereira commented on #56
I added a sample repo at [image-test](https://github.com/eduardoabpereira/image-test) with the same content i have at my main repo to reproduce.

[2020-09-21 13:31] frinyvonnick commented on #56
Thank you @eduardoabpereira 🙏

[2020-09-21 13:41] frinyvonnick commented on #56
@eduardoabpereira I added code to print execution time of `node-html-to-image`:

[code]

It lasts 1.5s for me. `node-html-to-image` uses puppeteer so there is an overhead of time while Chromium is starting.

![image](https://user-images.githubusercontent.com/13099512/93773361-54cb8b00-fc20-11ea-9b0f-1fcf54fce466.png)

If you use this technique to print execution time on your main repository it las

[2020-09-22 12:31] frinyvonnick commented on #61
Fixed by #65

[2020-09-22 12:31] #61 closed

[2020-09-23 20:53] impactcolor commented on #50
@Behkha  try this, I think it will work.
`const beMorePolite = question => {
if(question) {
return 'more people will be happy to help'
} else {
return 'go suck a lemon'
}
}`

[2020-09-23 20:56] impactcolor opened #67 "Can html file be used?"
Hello bro, thanks for this module.
Can html file be used instead of an html string?

In example:
[code]
Thank you!

[2020-09-24 06:54] frinyvonnick commented on #67
Hi @impactcolor 👋

Thank you for posting this issue. Here is the way to use an html file:

[code]

If it fixes your issue, please close it 😄

[2020-09-24 06:58] frinyvonnick commented on #50
@impactcolor please be respectful and welcoming. I just added a [code of conduct](https://github.com/frinyvonnick/node-html-to-image/blob/master/CODE_OF_CONDUCT.md), I invite you to read it 👍

[2020-09-24 07:11] frinyvonnick commented on #50
@Behkha I reproduced your issue using node v8:

![image](https://user-images.githubusercontent.com/13099512/94112458-c8021680-fe45-11ea-839b-851bca5c30ef.png)

As stated in this [comment](https://github.com/puppeteer/puppeteer/issues/6149#issuecomment-663833688), pupeteer 3.0.0 only support node v10.18.1+. Please upgrade your node version to use `node-html-to-image`.

[2020-09-24 08:35] frinyvonnick commented on #67
Maybe this example could be added to the README 🤔 ?

[2020-09-24 16:57] impactcolor commented on #67
Awesome thank you.  Yes adding it to the example would be great.

[2020-09-24 16:57] #67 closed

[2020-10-08 03:51] iamparthaonline opened #68 "Error: Unable to get browser page"
Getting this error,

[code]

[2020-10-08 03:59] iamparthaonline commented on #68
Found the issue, it's happening when I'm providing a custom puppeteerArgs ( Which is needed for production ).
I will do a PR if that's Ok.

[code]

[2020-10-08 04:09] #68 closed

[2020-10-19 15:14] earleoxner opened #70 "Using in AWS Lambda Function"
I have enjoyed using the library so far.  The one issue I have is that I can't deploy to a AWS Lambda function because the library (including Chromium I guess) pushes the size of the deployment package greater than 250MB.  Any thoughts on how to make this deploy to AWS Lambda?   I can use in a lambda function offline but can't be deployed due to package size.

[2020-10-19 17:02] SilveryStar opened #71 "Render an element in the body"
Sometimes I just want to convert one element in the html file into a picture, instead of the body elements.Can this feature be implemented?Thanks!

[2020-10-19 17:55] frinyvonnick commented on #70
Hi @earleoxner 👋

Thank you for posting this issue. node-html-to-image uses puppeteer under the hood. You can find more information about how to use puppeteer on AWS Lambda in its [troubleshooting](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-on-aws-lambda) section.

Please close this issue if it solves your issue 👍

[2020-10-19 17:57] frinyvonnick commented on #71
Hi @SilveryStar 👋

Thank you for posting this issue 👍 Would you be interested in opening a pull request with an implementation for this feature?

[2020-10-19 19:48] earleoxner commented on #70
Thanks!  I installed the chrome-aws-lambda like it said.  I don’t see how your code connects to it and the error I am getting is that it is unable to launch browser and says that I should install one.  To try to get the size down, I installed serverless-webpack.  Once I did that, it stopped trying to deploy the chromium and puppeteer that you are using.  I am not sure how to glue your code and the

[2020-10-20 04:44] SilveryStar commented on #71
Sorry, I am still a newbie of github and node, but I think we can add an option `element` (default value is body).Then modify the `puppeter page.$(selector)`  to implemente the feature
https://github.com/frinyvonnick/node-html-to-image/blob/dd258ddecf873c874c686e641050190b3b4f7cba/src/screenshot.js#L25

[2020-10-20 07:21] frinyvonnick commented on #71
Yes this is it 👍 Would you try it? I can help you 😄

[2020-10-20 07:24] frinyvonnick commented on #70
node-html-to-image also uses [puppeteer-cluster](https://github.com/thomasdondorf/puppeteer-cluster) to batch image creation maybe you can find more information about your problem on its repository. Sorry I don't know much about AWS Lambda. I'm currently in holidays I don't have time to search more about it.

[2020-10-20 09:54] MarkDeuerling opened #72 "Fonts Not Loading"
Hi,
I try to add a font, but the font won't render at all.
I've added the font in the header and use it as a font-family in my body.

`<head>
    <style>
      @font-face {
        font-family: testFont;
        src: url(https://some/awesome/font.ttf);
      }
    </style>
  </head>`

I already tried to wait for it, but still no success.

[2020-10-20 10:58] earleoxner commented on #70
Thank you.

Sent from my mobile device

[2020-10-20 14:53] stefanocudini opened #73 "requirements?"
it lib require chrome installed in the ssystem?

what rendering engine use it?

[2020-10-20 16:45] frinyvonnick commented on #72
Hi @MarkDeuerling,

Thank you for posting this issue 👍

Here is an [example](https://github.com/frinyvonnick/node-html-to-image/issues/33#issuecomment-635151349) on how to use webfonts with node-html-to-image. Please close this issue it fixes it 👍

[2020-10-20 16:49] frinyvonnick commented on #73
Hi @stefanocudini 👋

As you can see in the [dependencies](https://github.com/frinyvonnick/node-html-to-image/blob/master/package.json) it uses [puppeteer](https://github.com/puppeteer/puppeteer) so it needs chromium to works. The rendering engine must be Blink.

Please close this issue if it fixes it 👍

[2020-10-20 17:42] stefanocudini commented on #73
it was not something so obvious maybe you should specify it in the readme

thank you

[2020-10-20 17:42] #73 closed

[2020-10-20 17:46] frinyvonnick commented on #73
@stefanocudini would you be interested in opening a pull request to add it in the README?

[2020-10-20 21:17] #70 closed

[2020-10-20 23:51] stefanocudini commented on #13
I have same problem! how can I solve it?

[2020-10-21 06:50] frinyvonnick commented on #13
@stefanocudini which version of node-html-to-image do you use? This issue has been fixed in [2.0.0](https://github.com/frinyvonnick/node-html-to-image/releases/tag/v2.0.0). Can you share your code so I could reproduce it?

[2020-10-21 06:51] frinyvonnick commented on #70
If you found a solution @earleoxner could you share it here so it can help somebody else?

[2020-10-21 10:57] Ramakant701 commented on #70
how one can change pupeeteer used internally?

[2020-10-21 11:04] frinyvonnick commented on #70
Hi @Ramakant701 👋

I don't understand your question. Can you reformulate it? What do you expect?

[2020-10-21 11:13] earleoxner commented on #70
Will do.  Still working on it.

Sent from my mobile device

[2020-10-21 11:32] Ramakant701 commented on #70
Please let me know as well, I'm also trying to figure out any Solution to it

[2020-10-21 11:39] Ramakant701 commented on #70
I'm figuring out a way to change puppeteer node html to image is using internally, seems like we can fix it by providing an option to be sent to nodeHtmlToImage like useServerless which is when set to true will make use of pupeeteer serverless as package to launch chromium instead of pupeeteer

[2020-10-21 11:51] earleoxner commented on #70
Yesterday,  I took my code and replaced node-html-to-image with chromium-aws-lambda and I got a buffer back but it wouldn’t display in my app.  I then replaced the chromium-aws-lambda with puppeteer and it worked fine.  I changed the puppeteer launch call a little but that was it.  I noticed the buffers returned were similar but a little different in both size and content.  It looks like maybe it

[2020-10-21 11:54] earleoxner commented on #70
And I should add that when I used chromium-was-lambda I was running the nodejs code in a lambda function at AWS.  Puppeteer was done using serverless offline (I.e. local)

Sent from my mobile device

[2020-10-21 12:15] frinyvonnick commented on #70
It sounds like a good idea @Ramakant701! But it should work for most of the cloud provider not AWS only 🤔

[2020-10-21 14:40] earleoxner commented on #70
Sorry, didn't see my comment and reposted.  Please ignore.

[2020-10-21 14:56] frinyvonnick commented on #70
_I deleted duplicated comments from @earleoxner to avoid confusion._

[2020-10-22 04:39] Ramakant701 commented on #70
makes sense and thus I propose to use https://www.npmjs.com/package/puppeteer-serverless - this will take care of all - let me know if we can implement this ASAP

[2020-10-22 05:31] florinrelea opened #75 "Ubuntu 18.04.5 LTS"
Hi!
I am trying to install it on Ubuntu 18.04.5 LTS (GNU/Linux 5.3.0-1034-aws x86_64) and i received some dependencies errors from puppeteer. After installing the dependencies i received this error:
`ERROR:zygote_host_impl_linux.cc(89)] Running as root without --no-sandbox is not supported`

I solved this issue by adding the "--no-sandbox" argument:
`nodeHtmlToImage({ html, puppeteerArgs: { args:

[2020-10-22 06:29] frinyvonnick commented on #75
Hi @florinrelea 👋

Thank you for posting this issue. node-html-to-image uses [puppeteer](https://github.com/puppeteer/puppeteer) under the hood. Here is an [issue](https://github.com/puppeteer/puppeteer/issues/3698) on their repository that is related to your problem.

Please close this issue if it fixes it 👍

[2020-10-22 06:46] frinyvonnick commented on #70
puppeteer-serverless only works with AWS Lambda sadly @Ramakant701 😢

[2020-10-22 07:22] #72 closed

[2020-10-22 07:58] Ramakant701 commented on #70
so can we have an option for lambda for now and later release it for other serverless like gcloud and others?

[2020-10-22 07:59] Ramakant701 commented on #70
At the same time how about replacing the puppeteer altogether? like in nodeHtmlToImage option send the puppeteer user wants to use instead of default? but this will require more changes I feel

[2020-10-22 08:25] frinyvonnick commented on #72
@MarkDeuerling would you be interested in adding an example to the README on how to use a webfont?

[2020-10-22 08:40] florinrelea commented on #75
As i said,
`nodeHtmlToImage({ html, puppeteerArgs: { args: ['--no-sandbox'] } })`
 fixed it. I was just wondering if there is a better solution but it looks like this is the only one.

Thanks for the puppeteer issue link!

[2020-10-22 08:40] #75 closed

[2020-10-22 09:06] Ramakant701 commented on #70
I have found one solution but this will require you to update pupeeteer version 3 to latest @frinyvonnick. can you please do that?

[2020-10-22 09:09] Ramakant701 commented on #70
"Error: Unable to get browser page",
            "    at Worker.<anonymous> (/var/task/node_modules/node-html-to-image/node_modules/puppeteer-cluster/dist/Worker.js:44:31)"

[2020-10-22 12:45] MarkDeuerling commented on #72
@frinyvonnick I created a pull resquest with an example.

[2020-10-24 14:06] frinyvonnick commented on #70
@Ramakant701 would you be interested in opening a pull request that update pupeteer to last version?

[2020-10-27 13:35] earleoxner commented on #70
I ended up using the chromium_aws_lambda library and there is an exclude statement you have to place in the package area of your serverless.yml in order to not include chromium when deploying to AWS.  Once I did that, it got up there correctly.  I did include the latest puppeteer, puppeteer-core and @types/puppeteer.  You then call the puppeteer functions directly and there are examples of how to

[2020-11-09 19:44] voltea opened #79 "4 seconds to create the image"
I have a simple html with Style and some divs but for some reason it takes almost 4 seconds to generate the image

`const img = await nodeHtmlToImage({
          output:'imagen4.png',
          quality:'1',
          html: `<html>
          <style type="text/css">
          li{
            list-style:none
          }
          body{
            width: 500px;height: 250px; border: solid 1px;

[2020-11-12 07:49] frinyvonnick commented on #79
Hi @voltea 👋

Thank you for posting this issue. The image `https://logoapp/img/2020/logo_negro.png` is not available so I can't reproduce your issue. Can you provide a working example of your problem, please?

[2020-11-15 00:23] tomerb15 opened #80 "Is it possible to reuse the puppeteer instance for better performance?"
What is your recommended settings to maximize performance in the following case:
1. Small HTMLs usually resulting jpeg images of 10K-50K in size
2. HTML content is 100% trusted
3. HTML is send via data uri
4. The image is returned in memory as a buffer and not saved to disk.

Thanks!

[2020-11-20 10:46] 0rangeFox commented on #67
Hey, if HTML can be included, how can I activate the scripts in files and created by myself but all initialized within this HTML, how can I render?

[2020-11-20 14:38] frinyvonnick commented on #67
Hi @0rangeFox 👋 Do you have some example in which you experience issues you can share?

[2020-11-26 16:20] BlakePro opened #81 "Its possible to add in puppeteet args: ['--no-sandbox'] ??"
First of all, great work.

[2020-11-26 16:24] #81 closed

[2020-11-30 17:44] kashyap-aditya opened #82 "Expose screenshot args?"
This package hides a lot of the screenshot arguments available in puppeteer. Can they be exposed?

`
page.screenshot([options])

options <Object> Options object which might have the following properties:
path <string> The file path to save the image to. The screenshot type will be inferred from file extension. If path is a relative path, then it is resolved relative to current working directory. I

[2020-12-01 09:35] frinyvonnick commented on #82
Hi @kashyap-aditya 👋

As you can see in the [README](https://github.com/frinyvonnick/node-html-to-image#options) some of these options are already implemented like path, type, quality, encoding and omitBackground that as been renamed transparent. There are only two missing options in your list that are fullPage and clip. Do you need these?

[2020-12-01 13:30] kashyap-aditya commented on #82
Yup. Those are exactly the two I need.
On Tue, Dec 1, 2020 at 4:36 AM Yvonnick FRIN <notifications@github.com>
wrote:

--
Master's in Electrical Engineering
Graduate Certificate in Data Science
GLC Fellow and Resident Adviser

LinkedIn Profile <https://www.linkedin.com/in/aditya-kashyap-vt/>

[2020-12-01 14:33] frinyvonnick commented on #82
@kashyap-aditya what is your usecase? Does targeting a specific element in the dom would fulfill the need of the clip option instead of the original which seems not simple to use for me?

[2020-12-01 14:35] frinyvonnick commented on #80
Hi @tomerb15 👋

I don't understand what is the issue you encountered. Is it too slow? If it is the case can you share your code, please?

[2020-12-01 14:37] frinyvonnick commented on #55
I close this issue since there is no answer for a long time. Feel free to reopen it.

[2020-12-01 14:37] #55 closed

[2020-12-01 14:38] frinyvonnick commented on #50
I close this issue since there is no answer for a long time. Feel free to reopen it.

[2020-12-01 14:38] #50 closed

[2020-12-01 15:01] tomerb15 commented on #80
Hey, we use it to generate many small screenshots. Basically small HTMLs to JPEGs.
The problem is that we have high volumes.

We found puppeteer-cluster and with the right configuration, we manage to crack it down and go from ~900ms per image to ~350ms which is a huge difference for our use-case.

Hope this will help anyone in the future.

[2020-12-01 18:31] frinyvonnick commented on #80
@tomerb15 as you can see [here](https://github.com/frinyvonnick/node-html-to-image/blob/master/src/index.js#L18) node-html-to-image uses puppeteer-cluster under the hood. Maybe you could help optimize it with your configuration?

[2020-12-01 18:53] tomerb15 commented on #80
Here is our configuration for puppeteer-cluster which works very well:
[code]
We don't see any memory leak from the browsers.
We also taking screenshot from a specific element in the dom rather then the entire body.

[2020-12-13 06:11] erohana commented on #80
@tomerb15 how did you configure it ? can you please provide an example ?

[2020-12-21 09:38] IgorTitov commented on #53
Sorry, could you please explain a bit more? When using node-html-to-image, puppeteer is used as dependency, so it would be great if you'd shown what and where exactly something mush be changed. In the above link there is explanation how to deal with puppeteer when it's used directly but in this case it's used indirectly via node-html-to-image...

[2020-12-21 11:05] frinyvonnick commented on #53
@IgorTitov there is a [puppeteerArgs option](https://github.com/frinyvonnick/node-html-to-image#options) in which you can pass any pupperteer argument you want.

[code]

[2020-12-21 18:53] iamparthaonline opened #85 "Generating multiple images output issue"
When I am trying to generate multiple image files by using array of values in content property as specified in the readme section below,
[Generating multiple images](https://github.com/frinyvonnick/node-html-to-image#using-buffers)
It gives 2 peculire issues -
1. Sometimes the outputs are organised ( same as the content property value array ) but most of the time those aren't.
2. Sometimes some im

[2020-12-21 19:36] frinyvonnick commented on #85
Hi @iamparthaonline 👋

Thank you for posting this issue. Is it possible to share with me some reproduction code?

[2020-12-21 19:46] IgorTitov commented on #53
Thank you for a quick reply! It worked:)

[2020-12-22 03:56] iamparthaonline commented on #85
Hi @frinyvonnick ,

so this are the puppeteer config that I'm using,
`const puppeteerArgs = {
    args: [
        '--no-sandbox',
        '--disable-setuid-sandbox',
        '--disable-dev-shm-usage',
        '--disable-accelerated-2d-canvas',
        '--no-first-run',
        '--headless',
        '--no-zygote',
        '--disable-gpu'
    ],
    headless: true,
    ignoreHTTPSErrors: true
};`

T

[2020-12-22 09:51] frinyvonnick commented on #85
Thank you for your complete answer. I'll try to reproduce your issue as soon as possible. Regarding the performance part there is an [issue](https://github.com/frinyvonnick/node-html-to-image/issues/80) on the subject. `node-html-to-image` needs to be improved with the information from this issue 😄

[2020-12-26 04:28] fx1357 commented on #50
This leads to another error.
-->Uncaught TypeError: Cannot read property 'bind' of undefined

[2020-12-26 09:33] frinyvonnick commented on #50
Hi @fx1357 👋 Which version of node do you use?

[2020-12-29 17:03] KL13NT commented on #80
Perhaps the `maxConcurrency` option can be specified as part of the options? I have a bot that produces images and spawning an instance every time to render images is a huge performance hit for me (about 500ms on average + network overhead). Different systems have different capabilities and the `maxConcurrency` option should be dependent on users, perhaps with the default as `2`.

[2020-12-29 17:20] KL13NT commented on #80
Just discovered another performance-related issue. You create a cluster for a batch of jobs, but the maxConcurrency option fails to use the full advantage of `puppeteer-cluser` AND the fact that you terminated the whole cluster after the job is done is also a performance hit.

So issues currently present are:
- In case someone needs to render multiple images at the same time, they're *limited* to

[2020-12-29 17:25] KL13NT commented on #85
This probably has to do with how `puppeteer-cluster` works. It spawns a specific number of puppeteer instances (2 currently) and passes jobs to each of these instances. `node-html-to-image` iterates using `forEach` on the array of images you pass in, and queues them to the clusters using `cluster.queue({ output, content: pageContent })`. So whenever a cluster is done rendering an image, it's passe

[2020-12-29 17:35] KL13NT commented on #80
Spawning a cluster on a clean start of the bot took `30,000ms`.
![image](https://user-images.githubusercontent.com/20807178/103302602-b617ad00-4a0c-11eb-9452-d06b9246ed96.png)

Subsequent spawns took an average of over `300ms`.
![image](https://user-images.githubusercontent.com/20807178/103302584-ad26db80-4a0c-11eb-8a05-a3a8d6ce9ab0.png)

[2021-01-01 05:47] sanchir2011 opened #88 "Error: Unable to launch browser, error message: Failed to launch the browser process!"
Whenever I use this package to display an image, it shows an error: **Error: Unable to launch browser, error message: Failed to launch the browser process!**
Here is my code:
[code]
Any ideas what's the problem?

[2021-01-01 05:50] sanchir2011 commented on #88
I just fixed this issue by changing custom puppeteer arguments.

[2021-01-01 05:50] #88 closed

[2021-01-01 10:18] frinyvonnick commented on #88
Hi @sanchir2011 👋

Thank you for posting this issue, can you share the arguments you used for people that might come accross this problem too?

[2021-01-01 15:02] sanchir2011 commented on #88
Hey @frinyvonnick ,

Here is my new updated code that fixed this issue:
[code]

[2021-01-04 05:48] iamparthaonline commented on #85
I have been doing what you said, spawning a single instance and let it handle images one by one. This is really performance heavy that's why I'm trying to understand how can we make benefit out of `puppeteer-cluster ` and why only 2 instances are being spawned ?? it should be more else there's not much much we are making out of clustering.

[2021-01-04 21:28] achenyingpeng commented on #54
Did u solve the problem? I'm facing the same issue.

[2021-01-09 12:21] Schroedingers-Hat opened #89 "Handlebars sometimes escapes base64"
I was having some trouble with data url's in css. Turns out handlebars was escaping the last piece of my base64 data ass if it were html including a semicolon. Manually compiling and rendering with `noEscape: true` fixed it, but there's no way that I can see to pass in an options object for handlebar to use.

[2021-01-11 11:47] fx1357 commented on #50
my version is v14.15.3

I got to know the cause.
the error occurs when importing and writing in  <script> of vue.js.
It must not be compatible with vue.js.

[2021-01-12 09:15] yang093 opened #90 "Can't run it inside docker container"

[2021-01-17 22:21] mdlindsey opened #91 "Bump puppeteer to 3.0.4"
For those of us having [this issue](https://github.com/puppeteer/puppeteer/issues/5662) can we get a version bump of `pupeteer` from `3.0.0` to `3.0.4`?

[2021-01-18 09:09] frinyvonnick commented on #91
Hi @mdlindsey 👋

Thank you for opening this issue. Do you want to open a pull request that updates this package and see if all tests passes?

[2021-01-18 18:30] Malikx-Alee opened #92 "Image Quality using defaultViewport argument to puppeteer?"
I want to improve the png image quality by passing the following puppeteer argument

[code]

But i gives error. Any help how to pass this argument would be great help.

[2021-01-18 18:58] PavelKoroteev commented on #81
Hello, @BlakePro !
Why did you close the issue? Did you add args ? If yes, could you share your pass options ?

[2021-01-18 21:06] BlakePro commented on #81
Sure, use something like that.

     let args = [
        '--disable-dev-shm-usage',
        '--enable-sync', '--enable-background-networking', '--no-sandbox', '--disable-setuid-sandbox',
        '--disable-gpu', '--renderer', '--no-service-autorun', '--no-experiments',
        '--no-default-browser-check', '--disable-webgl', '--disable-threaded-animation',
        '--disable-threaded-scrolling',

[2021-01-19 07:58] PavelKoroteev commented on #81
Thank you very much!

[2021-01-20 16:11] aahnik commented on #49
If anybody is running on **Heroku** and facing the same error:

Add the **buildpack** : The url for the buildpack is below :

`https://github.com/jontewks/puppeteer-heroku-buildpack`

Ensure that you're using **`--no-sandbox`** mode

[code]

[2021-01-20 23:46] bna-ch commented on #56
hey, I solved my issues by writing custom css. Initially I was using bootstrap styles, linked through cdn. But, once I changed it to custom css, it worked like a charm, and I was able to reduce the execution time by half.

[2021-01-20 23:46] #56 closed

[2021-01-21 01:17] bna-ch opened #93 "Linking to script files"
Hi, I just want to know if there is a way to link to static files I have in the public folder to html while generating images.
for I want to have <link href="path-to-file">. I have tried doing this, but no luck. Someone has any idea on how to do this?

[2021-01-21 07:26] frinyvonnick commented on #93
Hi @bna-ch 👋

Thank you for opening this issue. Can you share a piece of code that reproduce your issue, please?

[2021-01-27 16:50] jaredlomangino commented on #92
Also looking to solve this issue^

[2021-01-27 19:16] Malikx-Alee commented on #92
@jaredlomangino , Width and Height is need to be added.  I solved it like this

![image](https://user-images.githubusercontent.com/28903531/106041689-f0ed2d80-60fd-11eb-9ebf-765f191bffb3.png)

[2021-01-27 19:16] #92 closed

[2021-01-28 01:02] mckay opened #94 "Issue Rendering CSS"
I believe I have found an issue in which case HTML inside of the package cannot render correctly, but when in its own file can.

[2021-01-28 14:26] joshk0 commented on #90
I had success running it in a Docker container. I started from [zenika/alpine-chrome:with-node](https://github.com/Zenika/alpine-chrome) and made sure to set the arguments:

[code]

[2021-01-28 14:30] joshk0 commented on #80
@frinyvonnick
It would be nice to create some kind of instance object, this way puppeteer can be launched in the background as soon as the module is required or the object is instantiated. Because the instantiation of puppeteer occurs within the nodeHtmlToImage() call, we can't safely start chrome until that very moment.

In other words, my Dream Code:

[code]

[2021-01-29 08:20] yudy-chen opened #96 "Proper way to use external HTML file"
I am trying to use external HTML file, so far things work properly except for the font.

Below are the codes for the main program

[code]

Below are the codes for the HTML
[code]

And here is the codes for getVar.js
[code]

Basically I would like to use the font from new_font and it doesn't work, so I am trying to use raw_font for testing and it doesn't work as well. And the `background-color:{{va

[2021-01-29 10:51] KL13NT commented on #80
@frinyvonnick

[2021-01-29 10:55] frinyvonnick commented on #80
@KL13NT I look at all issues and new messages. Answering takes some time. Avoid pinging me without new information. I'll answer as soon as I can. I maintain this package in my free time. Please, keep that in mind 😄

[2021-02-03 19:21] BrnPer commented on #80
I'm facing this issue... it takes about 2 seconds to render per image. I've already tried to change puppeter settings, but the time didn't change...  can you please help me? I generate a buffer with the image in jpeg.
Thanks in advance.

[2021-02-03 23:01] joshk0 commented on #80
@BrnPer @KL13NT
I'd love a tester for my change #95 . If you're willing to tweak the way you call the library, you can test it easily.

[2021-02-04 08:31] frinyvonnick commented on #80
@joshk0 I would prefer to avoid breaking change. I created this package in the idea of having something simple and easy to use. Initially I thought people might directly use puppeteer for more advance use cases. I changed a bit my mind since people seems to enjoy this package.

Here are the existing use cases:

**Single image**
[code]

**Batch image creation**
[code]

We might expose a name export

[2021-02-04 08:35] frinyvonnick commented on #96
Hi @yudy-chen 👋

Thank you for opening this issue 🙏  There are a few closed issue on the topic of font [here](https://github.com/frinyvonnick/node-html-to-image/issues?q=is%3Aissue+font+is%3Aclosed). Did you try the solution listed in them?

[2021-02-04 08:36] frinyvonnick commented on #94
Hi @mckay 👋

Thank you for opening this issue 🙏  Can you provide me more information to be able to reproduce you problem (code, screenshot, error stacks, ...)?

[2021-02-04 08:37] frinyvonnick commented on #90
@yang093 does the comment @joshk0 helped you to fix your issue?

[2021-02-04 08:39] frinyvonnick commented on #89
Hi @Schroedingers-Hat 👋

Thank you for opening this issue 🙏  Do you want to open a pull request to add a property handlebarsArgs?

[2021-02-04 09:17] yudy-chen commented on #96
Yes I tried [this](https://github.com/frinyvonnick/node-html-to-image/issues/72). It's working with hard coded base64 font, but it doesn't work using variable like I explain on the issue.

In the end I make it work to prepare the style outside of that HTML and on that HTML I include this string.

[2021-02-04 09:24] frinyvonnick commented on #96
I don't if using interpolate functions in handlebars is recommended. Prepare variables outside seems more simple. Can I close the issue?

[2021-02-04 09:56] yudy-chen commented on #96
Yes you can close it. Thank you

[2021-02-04 09:57] #96 closed

[2021-02-04 12:41] EmersonGarrido opened #97 "Alter Args is cluster in file index.js"
My application worked on site, but when it went to production on the ubuntu server, it was giving a sandbox error.

I made a brief change to the file by adding the following line
21 to 24:

`puppeteerOptions: { ...puppeteerArgs, headless: true, args: [
      '--no-sandbox',
      '--disable-setuid-sandbox'
      ] },
`
This code fixed the sandbox error problem.

[2021-02-04 13:00] frinyvonnick commented on #97
Hi @EmersonGarrido 👋

Thank you for opening this issue 🙏  I don't understand your problem. Why didn't you wrote your code like this:

[code]

That's why `puppeteerArgs` is meant for.

[2021-02-06 12:47] BrnPer commented on #80
@frinyvonnick I think it would be a good idea to expose the instance.
In my testing I shave some milliseconds off by using the following puppeterArgs:
[code]
And changing the waitUntil to `'load'`.
It now takes about 1 second to generate the image. But if was possible to generate even faster, would be awesome 😎

[2021-02-08 09:07] XIIIcool opened #98 "Possible EventEmitter memory leak detected"
I have a problem when I create multiple images. My application has a timeline, and I convert comments into pictures. When there are several conversions in the tile, then there is a memory leak, and when there are more than 50 of them, the application generally hangs.

error:
(node:124106) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 exit listeners added to [process].

[2021-02-08 09:27] frinyvonnick commented on #98
Hi @XIIIcool 👋

Thank you for opening this issue. Can you share your environment versions (node, os, ...)?

[2021-02-08 09:40] XIIIcool commented on #98
node v14.15.1
os ubuntu 20.04
Thank you for your prompt reply. Okay, I'll try to make pictures with one method.

[2021-02-08 10:52] XIIIcool commented on #98
Bulk image creation solved the problem of memory leaks and application hang. But for some reason in the created pictures the html was not converted, but the code remained. And it would not be bad to transfer a unique identifier to the mass creation of images in the content, so that you can easily extract it.

`    async makeTicketEmailImages() {
        let content = [];

        this.ticketEmails

[2021-02-08 10:57] frinyvonnick commented on #98
Handlebars seems to escape your html. Here is the [documentation](https://handlebarsjs.com/guide/expressions.html#html-escaping) about this.

[2021-02-08 11:05] frinyvonnick commented on #98
There is a issue about mass creation ordering #85 and one about base64 being escaped that might be linked #89 🤔

[2021-02-08 12:09] XIIIcool commented on #98
resolved problem, changed {{to {{{, thanks a lot for great support

[2021-02-08 12:12] #98 closed

[2021-02-09 13:52] AlessandroAries opened #99 "Blurry image"
When I just try a simple example like this:
[code]
I get a blurry image as output, any idea how this is possible?
![image](https://user-images.githubusercontent.com/15822086/107373119-756c8280-6ae6-11eb-902d-8634ec660f2f.png)

[2021-02-09 14:39] frinyvonnick commented on #99
Hi @AlessandroAries 👋

Thank you for opening this issue 🙏  You can try to change the quality in the [options](https://github.com/frinyvonnick/node-html-to-image#options) to improve it. Tell me if it is better after this 😄

[2021-02-09 18:03] AlessandroAries commented on #99
Hi, I already tried that with jpeg, but didn't work and for png it also doesn't work (also because thats not used occording to the documentation)

[2021-02-10 16:11] fsww-btamila opened #100 "After deploy Heroku - Unable to launch browser, error message: Failed to launch the browser process!"
Hi,

I'm using node-html-to-image successfully created local App. It's working Good what I'm expected , but after deploy any server the following error will throw.

 (node:21) UnhandledPromiseRejectionWarning: Error: Unable to launch browser, error message: Failed to launch the browser process!
2021-02-10T16:06:35.195228+00:00 app[web.1]: /app/node_modules/puppeteer/.local-chromium/linux-737027/ch

[2021-02-10 16:17] frinyvonnick commented on #100
Hi @fsww-btamila 👋

Thank you for opening this issue 🙏  Did you try the fixes described in this [issue](https://github.com/frinyvonnick/node-html-to-image/issues/49) or this [one](https://github.com/frinyvonnick/node-html-to-image/issues/88) that looks related to your topic. Please close this issue if it fixes it 😄

[2021-02-10 17:33] fsww-btamila commented on #100
Actually I'm facing still above the error. If possible to give me a solution.
Node version  is 12.16.1

[2021-02-10 18:46] frinyvonnick commented on #100
@fsww-btamila node-html-to-image uses puppeteer to create the images. It seems to have issues opening chromium. You can look to the [troobleshooting section](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-on-heroku) of puppeteer. Hope you will find a solution. Don't forget to post here if you find something to help other users 😄

[2021-02-15 17:59] ilyapavkin commented on #90
@frinyvonnick just for context:
[code]

[2021-02-15 19:13] sBx99 commented on #90
Hey @frinyvonnick, @yang093, and @ilyapavkin! I was having the same issue a week back, but I was able to run it after using @joshk0 's tip and looking around for a bit. Using [this code](https://github.com/Zenika/alpine-chrome/blob/master/with-puppeteer/Dockerfile), I was able to create this Dockerfile:

[code]

Also, these were the puppeteer args I added to the function, since the function wasn't

[2021-02-19 11:00] pollovolante opened #101 "function returning undefined"
I'm trying to convert html to image with `nodeHtmlToImage`
[code]
**await convertHTMLtoImage(data).catch(console.error)** is returning undefined

[2021-02-21 14:33] frinyvonnick commented on #101
Hello @pollovolante 👋

Thank you for opening this issue 🙏 Can you share with me the content of the HTML file so I could reproduce the problem, please?

[2021-02-21 15:58] pollovolante commented on #101
[code]

[2021-02-21 21:18] pollovolante commented on #101
ok the problem is the **absolute position** . When I change it it works fine ... is that normal?

[2021-03-29 07:22] Nicholas-Ingram opened #102 "Only rendering the first div within the body"
After trying to find out why it's doing this I cannot figure it out. My HTML renders correctly in a browser however once I try using this library to convert it into an image it will only render the first div. Any ideas why it's doing this?
`

    var html = '
    <html lang="en">
    <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <

[2021-04-01 08:21] crb596 opened #104 "Not waiting to output image"
I am trying to output a large image (10800x7200) and most of the time the output is as expected. However about every fourth image or so is only partially rendered. It is as if little squares are missing after a certain point and you can see where it just outputted before finishing.

![example](https://user-images.githubusercontent.com/57211534/113264882-89fa1980-92e4-11eb-931d-9f7f2651acc8.png)

T

[2021-04-13 05:02] Nicholas-Ingram commented on #102
Bumping issue.

[2021-04-20 21:07] zeel01 commented on #80
This would be of great use to me as well, I'm attempting to use this to create information cards to display in Discord embeds. Unfortunately it takes a rather long time for the images to be generated (around 4-5 seconds).

[2021-04-22 11:21] bekworks commented on #80
Could we get an update on the whole idea about reusing the instance?

The usecase i'm facing is the following:

12 different HTML templates
10 different sets of content

Right now, we have to go through them, one by one, because we have multiple different templates, which in turn means that we have to create and load a new puppeteer instance for every single image.

I could live with us being able

[2021-05-09 13:59] mamalli11 opened #108 ""PUPPETEER_SKIP_DOWNLOAD""
ERROR: Failed to set up Chromium r737027! Set "PUPPETEER_SKIP_DOWNLOAD" env variable to skip download.
Error: Download failed: server returned code 403. URL: https://storage.googleapis.com/chromium-browser-snapshots/Win_x64/737027/chrome-win.zip

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! puppeteer@3.0.0 install: `node install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the pupp

[2021-05-09 19:36] Shadowplays4k opened #109 "throw new Error('Unable to get browser page');"
I have no idea why this is happening heres the error

[code]

thanks any help is appreciated

[2021-05-10 07:44] frinyvonnick commented on #109
Hi @Shadowplays4k 👋

Thank you for opening this issue 🙏  Can you share the code you wrote to have this error to help me reproduce it.

[2021-05-27 14:37] MindCollaps opened #111 "no image generated"
Hey, I started using your library and I truely love it, but I've got an issue.
When I run my code, nothing happens, no error, no imagefile...noting
I had problems with chromium and chrome before, but I guess I fixed that, but now nothing happens, idk

    const data = await ejs.renderFile("./views/userprofile.ejs", req.body);
    const url = makeToken(10) + "-img.png";
    const savepath = "./publ

[2021-05-29 12:43] #111 closed

[2021-06-06 15:12] mustafa-707 commented on #109
its happens with me also this is my data

OS : MacOS Big Sir
npm version : 6.14.13
node version : v14.17.0

its happens with me only when put this param :

[code]
exactly when define `defaultViewport` as father of the width , hight ..etc params

[2021-06-07 14:15] Shadowplays4k commented on #109
OS: windows server 22
npm version: the one that comes with node 14
node: 14

[2021-06-08 15:23] MichaelJGW commented on #91
#113

[2021-06-20 11:57] Izers opened #115 "@font-face doesn't work"
When I run my html code the custom fonts are working but when I use nodeHtmlToImage() the fonts are not loaded

![image](https://user-images.githubusercontent.com/50419381/122673116-45896600-d1cf-11eb-8278-8ba168ab0348.png)

![image](https://user-images.githubusercontent.com/50419381/122673168-8c775b80-d1cf-11eb-9bde-9d9b5d0cd192.png)

[2021-06-24 20:19] Clemorange22 opened #116 "Function don't returns the buffer object"
The function is returning this instead of buffer object:
![image](https://user-images.githubusercontent.com/62897760/123326706-d8acfd80-d539-11eb-9a98-b9df92c7470f.png)

My code is :
https://pastebin.com/fcRWjDYZ

Seems to be a duplicate of #101 but I'm not sure

[2021-06-25 09:54] Clemorange22 commented on #116
Works with .then((image)=>{my code})
`
nodeHtmlToImage({
                html: page.join("")
              }).then((image)=>{
                const attachment = new MessageAttachment(image)
                message.channel.send(attachment)
              })

`

[2021-06-25 09:54] #116 closed

[2021-06-26 09:29] frinyvonnick commented on #115
Hello @Izers 👋

I just merged a [piece of documentation](https://github.com/frinyvonnick/node-html-to-image#dealing-with-images) on this topic. Does it help you fix your problem?

[2021-06-26 10:01] frinyvonnick commented on #108
I released a new version of node-html-to-image (3.2.0) that updates puppeteer version which might fix your issue. Could you give it a try and close the issue if it fixes your problem?

[2021-06-26 10:02] frinyvonnick commented on #109
I released a new version of node-html-to-image (3.2.0) that updates puppeteer version which might fix your issue. Could you give it a try and see if it fixes your problem?

[2021-06-26 10:03] frinyvonnick commented on #104
Hi @crb596 👋 Thank you for posting this issue 🙏

Can you share the code you used so I could reproduce your issue?

[2021-06-26 10:08] frinyvonnick commented on #102
Hello @Nicholas-Ingram 👋

Thank you for posting this issue 🙏 I tried your example but the code does not work. It seems to be missing variables I can't simply copy paste it. Could you provide a working reproduction code, please?

A part from that I released a new version (3.2.0) that lets you render a specific element. It might helps you fix your problem.

[2021-06-26 10:15] frinyvonnick commented on #101
Hello @pollovolante 👋

It tried your code and as you can see it throws an error with the absolute positionning

![image](https://user-images.githubusercontent.com/13099512/123509799-eec0d800-d677-11eb-84fb-7f135d9438c7.png)

Pupeteer says the node has 0 height. Since you catch the error with a console.log in it and await the whole line you store the result of console.error in the variable which is

[2021-06-26 10:17] frinyvonnick commented on #100
I close this issue. Feel free to reopen it.

[2021-06-26 10:17] #100 closed

[2021-06-26 10:18] frinyvonnick commented on #97
I closed this issue. Feel free to reopen it.

[2021-06-26 10:18] #97 closed

[2021-06-26 10:20] frinyvonnick commented on #79
I close this issue. Feel free to reopen it.

[2021-06-26 10:20] #79 closed

[2021-06-26 10:21] frinyvonnick commented on #71
This was released in [v3.2.0](https://github.com/frinyvonnick/node-html-to-image/releases/tag/v3.2.0) 🚀

[2021-06-26 10:21] #71 closed

[2021-06-26 10:23] frinyvonnick commented on #82
@kashyap-aditya I released a new version that let you screenshot a specific element in the dom. I close this issue, feel free to reopen it if it does not fit with your need.

[2021-06-26 10:23] #82 closed

[2021-06-26 10:24] frinyvonnick commented on #90
It could be interesting to add explanation on this topic in the README?

[2021-06-26 10:25] frinyvonnick commented on #91
This was released in [v3.2.0](https://github.com/frinyvonnick/node-html-to-image/releases/tag/v3.2.0) 🚀

[2021-06-26 10:25] #91 closed

[2021-06-26 10:25] frinyvonnick commented on #93
I close this issue. Feel free to reopen it.

[2021-06-26 10:25] #93 closed

[2021-06-26 10:26] frinyvonnick commented on #94
I close this issue. Feel free to reopen it.

[2021-06-26 10:26] #94 closed

[2021-06-26 12:56] Nicholas-Ingram commented on #102
I am so sorry I could have sworn I swapped out the variables with placeholder code. But yes here you go and I'll have to give the new version a try when I get some time.

[code]

[2021-06-26 13:54] mamalli11 commented on #108
Thank you for following up and resolving this issue 👌🏻👍🏻

[2021-06-26 15:54] frinyvonnick commented on #108
Your welcome! I close the issue then 😁

[2021-06-26 15:54] #108 closed

[2021-06-30 14:30] khoa-nv opened #117 "Cannot export buffer with electron app."
Hello, I have a problem when using this package in my local server with an electron app. Everything working well done when developing, but after building the production application nodeHtmlToImage function was throw into an empty error. Anybody can give me any advice to solve it?

[2021-06-30 14:54] frinyvonnick commented on #117
Hello @khoa-nv 👋

Thank you for posting this issue. Can you provide a repository that reproduce this error, please?

[2021-06-30 14:59] khoa-nv commented on #117
Thank you for your response. This is my project. I am building an app to control the Printer.
[https://github.com/khoa-nv/katec_printer_server/blob/master/factories/billFactory.js](url)

[2021-06-30 15:08] frinyvonnick commented on #117
Can you also give some steps to execute in order to see the problem?

[2021-06-30 15:32] khoa-nv commented on #117
It is too hard, bro.  Because it works with my company website. I just update my code. Please:
Clone my "t

1. - est" branch.
2. - Run `npm install` to install dependencies
3. - After that run `npm run app` to start the application.
4. On your browser, access to `http://localhost:60222/test` you will receive the buffer, that's what I wish.
5. To see my problem, please run `npm run build` to build

[2021-07-01 03:24] khoa-nv commented on #117
The issue doesn't come from your package, it's from Puppeteer. I just try to use puppeteer and got the same problem :(((

[2021-07-01 06:44] frinyvonnick commented on #117
@khoa-nv can you post a link that explain the issue?

[2021-07-01 06:48] khoa-nv commented on #117
hmm. I can solve the problem by add `executablePath` to `puppeteerArgs`.
This post [https://stackoverflow.com/questions/62602604/puppeteer-fails-in-react-app-after-running-electron-builder](url)  is not entirely my problem but it's the same. I guess the puppeteer cannot found chromium.

[2021-07-01 20:33] YonatanHanan commented on #99
is there any solution? i have the same problem

[2021-07-02 07:28] frinyvonnick commented on #99
You could try to set the [deviceScaleFactor](https://github.com/puppeteer/puppeteer/blob/v10.1.0/docs/api.md#puppeteerconnectoptions). You can pass options to puppeteer using **puppeteerArgs** property.

[2021-07-02 07:29] frinyvonnick commented on #117
Do you think it could be interesting to add some explanation about it in the README or is it to specific to your technical stack?

[2021-07-06 01:23] khoa-nv commented on #117
I don't know does anyone got the same problem. My way is the only temporary solution to make it work.

[2021-07-08 15:20] ElijahGives commented on #115
stop discord scamming mf

[2021-07-08 18:14] Lejla94 opened #119 "Empty white image when using another image."
[code]

With this code i get the white empty image.
I want to print a cropped image into another image.
Any solution or other way?

[2021-07-08 18:19] frinyvonnick commented on #119
Hello @Lejla94 👋

There is a dedicated section in the README that explain how to [deal with images](https://github.com/frinyvonnick/node-html-to-image#dealing-with-images). Please close this issue if it fixes your problem.

[2021-07-08 18:44] #119 closed

[2021-07-15 12:58] mhrsntrk commented on #90
@sBx99 suggestion worked for me.

But right now, fonts doesn't show up properly inside the docker container. I think this issue related to alpine. Are there someone has the same issue with fonts?

[2021-07-18 12:36] zakaria-chahboun opened #120 "Dynamic height"
First of all i want to thanks all people behind this amazing open source project!
I used this module in my node.js project to generate a quick template for (bill), i succeeded to that (like image below).

But. i don't want to use a fixed height! because the bill depend on the 'elements' of my table!
So, What i can do for that?

![photo_2021-07-18_13-25-43](https://user-images.githubusercontent.com

[2021-07-18 13:52] zakaria-chahboun commented on #120
Fixed by add `height: fit-content` to my css:

[code]
:+1:

[2021-07-18 13:52] #120 closed

[2021-07-19 19:14] frinyvonnick commented on #120
Your project looks amazing 😲 Glad to read you found a solution to your problem 👍

[2021-07-19 20:01] EmersonGarrido opened #121 "Error pupputer"
Every time I go to upload the application in production on the linux server ubuntu I have to set the args configuration: ["--no-sandbox"] in puppeter, would I be able to fix this in your lib?

I believe that several people are going through the same problem.

Is file index.js here lauch puppeter

[2021-07-20 11:29] frinyvonnick commented on #121
Hello @EmersonGarrido, node-html-to-image is basically a wrapper around puppeteer to avoid writing boilerplate code. If you experience any issue with puppeteer you can find help in their [troobleshooting section](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md). There is a [specific section](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#setting-u

[2021-07-20 17:44] #101 closed

[2021-07-23 22:03] EmersonGarrido commented on #121
A certain friend agrees that there is, but if I had an option in your code as described below, it would solve the problem.

`const {
    html,
    content,
    output,
    selector = 'body',
    puppeteerArgs = {
     args: ["--no-sandbox"],  // set Args inline 13 file index.js folder SRC  lib = node-html-to-image
    },
  } = options`

[2021-07-24 13:41] frinyvonnick commented on #121
I don't want to set default values to puppeteerArgs since it depends on use cases (your usage, your os, maybe you are doing this on a server or cloud provider, a lot of possibilities). I don't feel it wrong you have to setup the good options for your use case in your code.

[2021-07-27 16:23] ShreeyansB opened #122 "Heroku app crashes after some time"
I have used this module to render some HTML for my API. This is the API - https://fontgen-sb.herokuapp.com/
The code is as follows:
[code]
And this seems to work perfectly. But recently the number of users using my API has increased and they have started reporting crashes. These are the crash logs just after some HTML is sent to render:
[code]
Sometime after the crash, the app restarts and seems t

[2021-08-18 08:29] mashwishi opened #124 "Can't use this on Heroku or other VPS hosting due to puppeteer"
It runs fine when I host it to my PC, but it doesn't run on VPS/Cloud Hosting like Amazone EC2 and also to Heroku
**Error Log:**
[code]

If you think that I didn't try the [Troubleshooting ](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md), Well I also posted at [StackOverflow with another problem](https://stackoverflow.com/questions/68828553/error-sudo-amazon-linux-extras

[2021-08-18 16:59] mashwishi commented on #124
Update:

I've already installed all of this:
![image](https://user-images.githubusercontent.com/62344860/129940237-f715ff4c-5ff0-4e0c-8ced-f4fa611a88d4.png)
![image](https://user-images.githubusercontent.com/62344860/129940390-76c79b45-efd0-4f14-b024-c842d14f9b20.png)
![image](https://user-images.githubusercontent.com/62344860/129940509-0ebec76c-a4d6-405c-8a59-ec44ef6074a3.png)

Still giving me th

[2021-08-18 17:22] mashwishi commented on #91
I'm using:
[code]
and still having problem

[2021-08-28 09:36] maitrungduc1410 commented on #101
I'm having the same issue here, there's no way to catch the error "Node has 0 height"

[2021-09-02 12:54] DanilAndreev opened #127 "Typescript declaration is wrong"
Hello, assigns ```module.exports``` a function, but declared in d.ts file that function exported from module as default value.
In ES6 modules default export has ```module.exports.default``` route. That causes errors when trying to use it as shown in readme.

[code]

[2021-09-16 15:45] increpare commented on #85
I guess if https://github.com/frinyvonnick/node-html-to-image/blob/701b5143220aa80eac945945356743d6cb8e70a7/src/index.js#L29 kept track of the index and assigned it explicitly rather than pushing to the array, it'd solve this problem, right?

[2021-09-17 08:52] frinyvonnick commented on #85
Thank you for sharing @increpare, feel free to open a pull request. It could be great to write a test that reproduce the issue and try your patch to see if it fixes it 👍

[2021-09-17 08:57] frinyvonnick commented on #127
Hello @DanilAndreev 👋

Thank you for opening this issue 🙏  Would you be interested in opening a pull request to fix it?

[2021-09-24 05:43] dharmatalea opened #129 "ws in ./node_modules/puppeteer/lib/WebSocketTransport.js"
After installing your package getting this issue in `npm run watch` and installed this package `npm install --save ws` but getting the same issue.

[2021-09-27 13:35] DanilAndreev commented on #127
Ok

[2021-09-27 13:38] DanilAndreev commented on #127
If you want - I can fully translate your code to typescript.

[2021-10-01 18:58] saksham2105 commented on #102
@Nicholas-Ingram The problem with your example seems like device resolution , since browser parse bootstrap and adjust screen according to bootstrap's code the same thing can't be done more responsively while taking screenshot.
You can try below code in which I replaced col-lg with col-xs (even col-sm will work fine because these 2 works on device having low width & height) it will generate the im

[2021-10-01 18:59] saksham2105 commented on #102
@Nicholas-Ingram The problem with your example seems like device resolution , since browser parse bootstrap and adjust screen according to bootstrap's code the same thing can't be done more responsively while taking screenshot.
You can try below code in which I replaced col-lg with col-xs (even col-sm will work fine because these 2 works on device having low width & height) it will generate the im

[2021-10-01 19:14] saksham2105 commented on #102
@Nicholas-Ingram The problems arrived due to device resolution and since the device is not browser so it is now unable to show resonsiveness of bootstrap as browser does by adjusting accordingly.I think your screen is not compatible with bootstrap high resolution css classes.I have changed col-lg to col-xs (even col-sm will work fine since these twos works on device having low width & height) and

[2021-10-02 22:11] MelarcAB opened #134 "How can I send line break from variable to html template?"
I want to send a string variable with a line break, but the result shows the <br> as if it were part of the text.

I tried with \n and \r but the result is still the same

Thanks

[2021-10-06 06:38] diskotekastar opened #136 "Gif format"
Hi, please support gif format

[2021-10-19 14:56] Tsopic opened #138 "Using puppeteer connect instead of running the instance on same machine"
Hey,

There are no options to use a browserless stack with the puppeteer. Packing such a heavy library by default into the server is not the best idea.

I'm unable to find a way to pass down my puppeteer tasks over WebSocket to existing browserless.

[2021-10-22 23:29] potato-baby opened #139 "Error: Unable to launch browser, error message: Unsupported platform: android"
[code]

[2021-10-23 10:22] ghost opened #140 "@font-face font not working"
The font not loading
my code

js:
let image = await nhti({
...
content: {
font1: data:font/truetype;base64,${new Buffer.from(fs.readFileSync("Magmawave-Caps.ttf")).toString("base64")}
},
...
});

html:
@font-face {
font-family: Magmawave;
src: url({{font1}}) format('truetype');
}

i tryed `truetype` & `woff` & `woff2` formats and still not working

& i tryed to do that
@font-face {
font-family: Ma

[2021-11-05 23:14] #139 closed

[2021-11-06 08:33] frinyvonnick commented on #139
Hi @potato-baby 👋

Sorry for the long response. Did you manage to fix your problem? Maybe you can share here how you did it 😄

[2021-11-06 08:49] potato-baby commented on #139
i forgot 😐
i will have to start it all again

[2021-11-14 22:11] jr0dd opened #142 "issue converting embed"
So I have been battling trying to get this to work. I'm not an node.js export. Just been trying to use this library with a discord bot I'm working on. Trying to convert this [embed](https://www.tradingview.com/widget/technical-analysis/) code to an image and return it as an embedded image. When I try just using the cli version it returns the background and some text. I'm sure I'm doing something w

[2021-11-15 16:32] jr0dd commented on #142
So I got it figured out for the most part. Is there a proper way to add a delay so the image finishes loading?

this is what i'm trying to capture. it takes a couple seconds for the gauge to settle.
https://www.tradingview.com/widget/technical-analysis/

[2021-11-18 13:14] EviCoach opened #143 "Puppeteer Arguments"
How can I pass in puppeteer arguments, it accepts an object, what are the keys?

[2021-11-18 17:04] frinyvonnick commented on #143
Hi @EviCoach 👋

You can pass in object in the **puppeteerArgs** properties. You can find the available properties in the puppeteer documentation [here](https://github.com/puppeteer/puppeteer/blob/v3.0.0/docs/api.md#puppeteerlaunchoptions).

[2021-11-28 00:59] tcortega opened #144 "It is impossible to send launch arguments to the puppeteer instance."
Hello, I was wondering why I can't pass any launch arguments to puppeteer, since the only option that sounds like allows you to do it, is `puppeteerArgs`, which type is `LaunchOptions`. There isn't anywhere which allows me to pass a string array, such as:

[code]

[2021-11-28 01:00] tcortega commented on #144
btw, for some reason, it seems like `LaunchOption` has no definition for `args` for me. I have 2 dependencies that uses puppeteer, I guess one of them is using an outdated version?

[2021-11-28 01:05] tcortega commented on #144
Actually, it seems like this lib is the one using an outdated version. LaunchOptions no longer takes a string array of launch arguments.

[2021-11-30 02:50] agustints commented on #144
same problem

[2021-11-30 02:52] agustints commented on #124
same error

[2021-11-30 03:01] agustints commented on #144
puppeteerArgs: { args: ["--no-sandbox", "--disable-setuid-sandbox"] },

[2021-11-30 03:01] agustints commented on #143
puppeteerArgs: { args: ["--no-sandbox", "--disable-setuid-sandbox"] },

[2021-11-30 03:03] agustints commented on #124
Add BuildPack to heroku | https://github.com/jontewks/puppeteer-heroku-buildpack
Add puppeteer args with no sandbox
puppeteerArgs: { args: ["--no-sandbox", "--disable-setuid-sandbox"] },

[2021-11-30 08:27] EviCoach commented on #143
Thank you very much @frinyvonnick, @agustints

[2021-11-30 08:27] #143 closed

[2021-11-30 16:28] tcortega commented on #144
This does not work if you have a nother module installed that requires a more up to date version of puppeteer. Since LaunchOptions no longer takes an `args: string[]` as an option to the interface.

As a temporary fix, I updated both `node-html-to-image` and `puppeteer-cluster` myself, and added an option to pass the args using a higher/more up to date version of puppeteer.

Not advertising but po

[2021-12-14 21:13] yaron-shamul commented on #31
I have the same issue while working with async_html:

[code]

I'm also getting this error bellow when trying to run chrome from default path:

`./chrome: error while loading shared libraries: libXcomposite.so.1: cannot open shared object file: No such file or directory`

[2021-12-14 21:14] yaron-shamul commented on #31
can you please open this issue again?

[2021-12-15 09:59] frinyvonnick commented on #31
Hi @yaron-shamul,

Can you provide everything to reproduce your issue, please?

[2021-12-15 10:05] yaron-shamul commented on #31
Yeah sure, take a look on this issue:
https://github.com/pyppeteer/pyppeteer/issues/341

[2021-12-15 10:27] frinyvonnick commented on #31
I don't understand. You are linking a python project. node-html-to-image is a Javascript project running on node. How is it related?

[2021-12-15 10:56] yaron-shamul commented on #31
I saw the exact same error and wanted to solve it.

[2021-12-15 13:01] frinyvonnick commented on #31
I think this issue is more related to puppeteer.

[2021-12-15 13:06] yaron-shamul commented on #31
pyppeteeris a module working over puppeteer, so the issue is related as the solution of your issue is related

[2021-12-28 14:59] iveretelnyk opened #147 "Handlebars is always used even if "content" option is not provided"
It not possible to use just html without handlebars. And this is problem to render html containing {{ }} as handlebars will try to parse and compile.

index.ts line 28
`const buffer = await makeScreenshot(page, { ...options, content, output, selector }) `

if you do not provide content option at this point this var become content = {}; thus handlebars will parse, but it should not.

[2022-01-01 18:22] moazam1 opened #148 "ERROR: Not found"
Hi, thanks for creating awesome package. I am not a node pro so trying to understand why below code is throwing: ERROR: not found error. I have taken following code from your docs:

[code]

When I run above code node index.js it generates the image file but I also get this error:

`ERROR: Not found`

and then I have to press control+c to exit the program. Any idea what am I doing wrong? Thanks onc

[2022-01-08 16:25] NotCallMeHacker opened #149 "Feature request: add link support"
Instead of having to input the HTML itself can we have support for links, so that it also renders images and is able to get external CSS/JS?

[2022-01-09 07:57] frinyvonnick commented on #149
Hello @NotCallMeHacker 👋

I made this library to convert HTML into images. If you want to make screenshots of existing pages you can use directly puppeteer 🙂

[2022-01-09 15:03] NotCallMeHacker commented on #149
Thatd be too easy ^^

[2022-01-09 18:36] StrangerGithuber opened #150 "Heroku"
Hello
I am using this project in a discord bot and I am hosting on the Heroku cloud however whenever I am using this node-html-to-image then I get an error:

[code]

Does someone hosting on the heroku and having this issue with the node-html-to-image?
Did someone figure out what to do?

[2022-01-09 18:45] StrangerGithuber commented on #150
Oh ok, I needed to add this: https://github.com/jontewks/puppeteer-heroku-buildpack

[2022-01-09 18:45] #150 closed

[2022-01-11 17:15] #142 closed

[2022-01-11 17:22] jr0dd opened #151 "selector issue"
I am trying to use the selector option to capture just a particular element on the page and I absolutely can not get it to work.

js code
[code]

logs
[code]

selector copy from browser
[code]

html code of where to capture
[code]

[2022-01-12 08:04] frinyvonnick commented on #151
Hello @jr0dd 👋

Thank you for posting this issue. The html property only accept HTML and not urls. If you want to make screenshot of existing pages I recommend using puppeteer directly 😄

[2022-01-12 14:25] jr0dd commented on #151
Ah, I see. I had used this library for just html code for other things and didn't realize it wasn't for URL's 😳

[2022-01-12 15:12] frinyvonnick commented on #151
No problem! Maybe we should add an error if an url is provided 🤔 ?

[2022-01-19 13:09] colonelEnigma opened #152 "Add HTML Google Maps"
### I am trying to use HTML Google Maps inside the 'HTML' option. Below is my code.

const express = require('express')
const app = express();
const nodeHtmlToImage = require('node-html-to-image');

app.get('/', async function (req, res) {
    const images = await nodeHtmlToImage({
        html: `
        <html>
        <head>
          <link
            href="https://fonts.googleapis.com/css?fami

[2022-01-21 11:56] 0rangeFox commented on #67
Hey @frinyvonnick, it's been a long time and I never received any notification and didn't even notice this, but at that time I was doing an experiment and I had an idea, I don't remember exactly what it was about, but anyway, I wanted to apologize for leaving this open and not saying anything. But thanks anyway and it's solved from my part.

[2022-02-03 09:09] survfate commented on #144
@tcortega are you planning to make a PR of that change? I used your workaround package so far but it start to warning about outdate puppeteer version.

[2022-02-03 11:52] tcortega commented on #144
Not really, the way I solved wasn't the best way to do it to be honest. Maybe if I have more time I can just go and refactor everything. But no plans for now.

[2022-02-03 14:43] survfate commented on #144
is it possible that you publish a version of the package with a more recent version of puppeteer for now?

[2022-02-06 16:04] #149 closed

[2022-02-06 16:05] frinyvonnick commented on #147
Hi @iveretelnyk 👋

Thank you for opening this issue. Nice catch 🙏

[2022-02-06 16:14] frinyvonnick commented on #148
Hi @moazam1 👋

Thank you for opening this issue. Can you share the stacktrace of the error please?

[2022-02-06 16:16] frinyvonnick commented on #144
puppeteer-cluster updated its version of puppeteer recently. I'll update it on node-html-to-image. It should save your problem :smile:

[2022-02-06 16:16] frinyvonnick commented on #144
puppeteer-cluster updated its version of puppeteer recently. I'll update it on node-html-to-image. It should save your problem :smile:

[2022-02-06 16:58] #144 closed

[2022-02-08 10:44] #147 closed

[2022-02-08 11:52] #85 closed

[2022-02-08 13:34] frinyvonnick commented on #147
Published in [v3.2.1](https://github.com/frinyvonnick/node-html-to-image/releases/tag/v3.2.1) 🚀

[2022-02-08 13:34] frinyvonnick commented on #144
Published in [v3.2.1](https://github.com/frinyvonnick/node-html-to-image/releases/tag/v3.2.1) 🚀

[2022-02-08 13:35] frinyvonnick commented on #85
Published in [v3.2.1](https://github.com/frinyvonnick/node-html-to-image/releases/tag/v3.2.1) 🚀

[2022-02-08 13:35] frinyvonnick commented on #127
Published in [v3.2.1](https://github.com/frinyvonnick/node-html-to-image/releases/tag/v3.2.1) 🚀

[2022-02-08 13:35] #127 closed

[2022-02-08 14:10] frinyvonnick commented on #151
I close this issue since it was a misusage and not a bug 😄

[2022-02-08 14:10] #151 closed

[2022-02-08 14:21] frinyvonnick commented on #138
Hello @Tsopic 👋

Thank you for posting this issue 🙏  I don't understand what you are trying to achieve 🤔  Could you explain it to me more precisely?

[2022-02-08 14:24] frinyvonnick commented on #136
Hi @diskotekastar 👋

Thank you for opening this issue 🙏 . Puppeteer only support `jpeg`, `png` and `webp`. I close this issue since I won't be able to adress it.

[2022-02-08 14:24] #136 closed

[2022-02-08 14:27] #124 closed

[2022-02-08 14:28] Tsopic commented on #138
Using websocket connection instead of running the puppeteer in the same machine. So basically hosted browser instance for puppeteer

[2022-02-08 14:36] frinyvonnick commented on #121
@EmersonGarrido you can pass the args to puppeteer using the property `puppeteerArgs `. Here is an example:

[code]

It seems pretty convenient to me. Doing it this way you don't have to change node-html-to-image code each time you want to use it 🤔 . Maybe I did not understand well your problem. Could you reformulate so I understand it?

[2022-02-08 14:38] frinyvonnick commented on #117
I close this issue since it is related to puppeteer and not node-html-to-image.

[2022-02-08 14:38] #117 closed

[2022-02-08 14:41] frinyvonnick commented on #115
@ElijahGives I assume that "mf" is an insult (see [definition](https://www.urbandictionary.com/define.php?term=MF)). I would like you to be more polite as asked in the [code of conduct](https://github.com/frinyvonnick/node-html-to-image/blob/master/CODE_OF_CONDUCT.md).

[2022-02-08 14:41] frinyvonnick commented on #115
I close this issue since I did not get any answer for a long time and there is a section in the README that explains how to deal with it.

[2022-02-08 14:41] #115 closed

[2022-02-08 14:45] frinyvonnick commented on #138
It seems like a really specific issue. I invite you to use puppeteer directly. This package aims to remain pretty simple for basic usage. I close this issue since I won't make anything about it.

Thank you for taking time to share with me 🙏

[2022-02-08 14:45] #138 closed

[2022-02-08 14:50] colonelEnigma commented on #152
Hi @frinyvonnick ,
This is the file...
[gmap2.txt](https://github.com/frinyvonnick/node-html-to-image/files/8024699/gmap2.txt)

*remove .txt with .html

My question is that when I use this html inside the 'nodeHtmlToImage' 'html' tag, I don't get the expected results.
While using this in a nodejs application, I am unable to execute the script written inside the script tag.
Try using this html insi

[2022-02-08 15:00] frinyvonnick commented on #152
@colonelEnigma I managed to make it work. Here is the js code:

[code]

Since I don't have the `style.css` file from you example I had to put a height on the div #map-canvas (see `<div id='map-canvas' style="height:300px"></div>`) otherwise the map was not displayed because the div's height was `0`.

Here is the result I get running this code:

![image](https://user-images.githubusercontent.com/13

[2022-02-08 16:21] Tsopic commented on #138
Yeh, using puppeteer directly is not really a scaleable approach. But thanks.

I could just set the content of the page inside puppeteer and grab a screenshot of that after render, and works as well.

Actually, that's what I'm doing right now. Without a heavy 300mb library between.

[2022-02-08 16:22] Tsopic commented on #138
Meanwhile with WebSocket pointing to and docker hosted instances I could scale to pretty much infinity. with loadbalancing.

[2022-02-08 18:00] colonelEnigma commented on #152
Thanks @frinyvonnick.

Yup it is working now.

[2022-02-08 18:02] frinyvonnick commented on #152
Since it fixed your issue, I close it 👍

[2022-02-08 18:02] #152 closed

[2022-02-09 22:08] bartuchavezc opened #159 "Cannot find module './models/Screenshot'"
Hi, today i give the next error in my proyect using version 3.2.2 and 3.2.1.

I solve it using 3.2.1 in my package.json
`"node-html-to-image": "3.2.0",`

[2022-02-10 10:59] king0429 commented on #159
Hi, today i have got the same issus, when i build my typescript project and startting to run the server it's said

, error: Cannot find module './models/Screenshot'

[2022-02-10 11:12] frinyvonnick commented on #159
Hi @king0429 👋

Ok, I'll try to reproduce it with a fresh Typescript project 👍

[2022-02-10 16:37] survfate commented on #159
I just want to report that I ran into this today even on `v3.2.1`

[2022-02-11 08:38] #159 closed

[2022-02-11 08:51] frinyvonnick commented on #159
It was released in [v3.2.3](https://github.com/frinyvonnick/node-html-to-image/releases/tag/v3.2.3) 🚀

Can someone confirm it is fixed (@survfate, @king0429 or @bartuchavezc) ?

[2022-02-11 09:00] king0429 commented on #159
i'll  tey later. by the way, this package is very useful in my project, thanks so much!!  谢谢

[2022-02-12 19:54] survfate commented on #159
working great for me now, appreciate the efforts

[2022-02-12 20:06] frinyvonnick commented on #31
This issue is really old and we moved from puppeteer v3 to v13 in latest version of node-html-to-image. So I close this issue.

[2022-02-12 20:06] #31 closed

[2022-02-12 20:13] frinyvonnick commented on #80
I discover that puppeteer-cluster can take a puppeteer object as parameter of the launch method (see https://github.com/thomasdondorf/puppeteer-cluster#clusterlaunchoptions). This could be an option to pass your own instance of puppeteer. Is someone interested in opening a pull request to add this option?

Another performance improvement could be to use an instance of puppeteer-core with headless

[2022-02-12 20:18] frinyvonnick commented on #102
@Nicholas-Ingram does the solution @saksham2105 provided fixed your issue?

[2022-02-12 20:19] frinyvonnick commented on #104
I close this issue since I did not get any answer.

[2022-02-12 20:19] #104 closed

[2022-02-12 20:20] frinyvonnick commented on #99
@AlessandroAries or @YonatanHanan did you try to set the [deviceScaleFactor](https://github.com/puppeteer/puppeteer/blob/main/docs/api.md#puppeteerconnectoptions)?

[2022-02-14 20:07] favna opened #162 "[Bug]: Typings for `puppeteerArgs` are using the incorrect type from Puppeteer"
This was suddenly brought to my attention when bumping the package from v3.2.0 to v3.2.3 in https://github.com/favware/archangel/pull/103. Felt it was very strange because even as recent as 6 days ago I saw you commented on an issue to use `args` and I couldn't possibly image Puppeteer removing such a critical option.

A bunch of digging later (godbless having access to cs.github.com so I could se

[2022-02-15 07:46] #121 closed

[2022-02-15 08:34] frinyvonnick commented on #162
Hello @favna 👋

Thank you for opening this issue and taking time to explain it ❤️

[2022-02-15 08:35] #162 closed

[2022-02-15 08:43] frinyvonnick commented on #162
This has been released in [v3.2.4](https://github.com/frinyvonnick/node-html-to-image/releases/tag/v3.2.4) 🚀

[2022-02-15 17:43] moazam1 commented on #148
@frinyvonnick Hi, thank you for the reply.

I am using the sample code from your repo:

[code]

When I execute the code I get following error:

[code]

Though the process does not terminate automatically but I see image generated.

I am using node: v16.13.1 and npm@8.4.0

I am using temporary solution. Ignoring error not found error and using setimeout to terminate the script. Bit hacky but it wor

[2022-02-17 20:01] EmersonGarrido commented on #121
What you did worked, congratulations on the project and thanks for adding this option kkk even though it took a while it was perfect.

[2022-02-17 21:28] frinyvonnick commented on #121
This option @EmersonGarrido is available since the very first version of the library 🤔...

[2022-02-17 21:41] collindutter commented on #70
To anyone coming to this thread late, this article got me exactly what I needed:
https://www.mayvisblog.com/aws-lambda-serverless-function-to-generate-image-from-html/

[2022-02-18 12:14] ZainUrRehmanKhan commented on #90
This is my working docker file:

[code]

I tried different solutions but it's not working, Can someone tell how can I fix this? I tried the solution above but I think I'm mission something

I'm getting is error:

![Screenshot from 2022-02-18 15-23-03](https://user-images.githubusercontent.com/67098758/154680786-7580a420-edc5-4d47-89ae-cb3c7fea8bc7.png)

[2022-02-18 13:38] frinyvonnick commented on #70
Hey @collindutter, thank you for sharing! This is really interesting because the instance made with chrome-aws-lambda could be passed down to node-html-to-image 🤔 I'm discussing the possibility to add a puppeteer instance property here https://github.com/frinyvonnick/node-html-to-image/issues/80#issuecomment-1037445344

[2022-02-21 12:00] Nixum commented on #90
`nodeHtmlToImage({
                    html: content,
                    puppeteerArgs: {
                        args: [
                            '--no-sandbox',
                            '--disable-setuid-sandbox',
                            '--disable-dev-shm-usage',
                            '--disable-gpu'
                        ]
                    }
                })
`
when i se

[2022-02-23 07:08] ZainUrRehmanKhan commented on #90
@Nixum Thanks

[2022-02-25 04:35] KenDodman commented on #90
Gotten things working on a Rpi 4 arm64 running docker
Here is my dockerfile

`FROM node:17.4.0
ENV PUPPETEER_SKIP_CHROMIUM_DOWNLOAD 1
ENV PUPPETEER_EXECUTABLE_PATH /usr/bin/chromium

WORKDIR /app
COPY package.json /app
RUN npm install puppeteer
RUN npm install
RUN apt-get update
RUN apt-get install chromium --yes
COPY . /app
EXPOSE 3001
CMD ["npm", "start"]
`

Using the htmltoimage options of

`pu

[2022-03-02 06:18] sumerpalgit opened #164 "Issue : HTML have mage size more than 10 MB then it is give timout error."
I have used this plugin for HTML TO image. And it is working amazing but when we have more than 10 MB image in HTML then it is give me timout error below so can you please help me on same.. I have try to resolve this issue and spen more than 2 days but did not get luck so please help.

(node:28687) UnhandledPromiseRejectionWarning: Error: Timeout hit: 30000
    at Object.<anonymous> (/home/ubuntu/

[2022-03-02 09:11] frinyvonnick commented on #164
Hello @sumerpalgit 👋

Thank you for posting this issue. Can you share some reproduction so I can investigate it, please?

[2022-03-21 15:36] rielzzapps opened #165 "Catch puppeteer errors not possible?"
The parser / puppeteer crashes with an error:
'Uncaught Error: Parse error on line 25:'
This might be malformed HTML, but I want to catch this error, to handle it and present the user a message.

(html is a string with html content here, that gets an image preview)

It seems like I am unable to catch a puppeteer error, not in a try/catch loop, nor in a .catch promise.
Any ideas?

[code]

[2022-04-07 22:15] krylovaaleksandra commented on #165
+1

[2022-04-07 22:43] krylovaaleksandra commented on #164
<html>
<body>

<video id="video_background" preload="auto" autoplay="true" loop="true" muted="muted" class="video-9--6_I">
--
  | <source src="https://cdn.discordapp.com/attachments/880449376957390941/889581462108639263/pososi_mudila.webm" type="video/webm" />
  | </video>

</body>
</html>

[2022-04-08 07:44] frinyvonnick commented on #165
Hello @rielzzapps 👋

Thank you for opening this issue 🙏  Can you share the content of the html variable so I can reproduce your issue, please?

[2022-04-09 19:56] krylovaaleksandra commented on #165
< video id="video_background" preload="auto" autoplay="true" loop="true" muted="muted" class="video-9--6_I">
  < source src="https://cdn.discordapp.com/attachments/880449376957390941/889581462108639263/pososi_mudila.webm" type="video/webm" />
  < /video>

  (remove spaces after <)

[2022-04-18 01:51] alonemazin opened #168 "how i can set timeout to load the html?"
i want the html page to load then save the result in picture cuz i have problem that the output is blank page

[2022-05-19 11:21] DanyylSocol opened #169 "Next.js app crashes on vercel"
Error:
[code]
One more:
[code]
  When I delete node-html-to-image package - everything is ok

  Code:
[code]
   HTML:
[code]

[2022-05-19 11:33] ivorpad commented on #169
Puppeteer doesn't work on Vercel https://github.com/vercel/next.js/issues/29997

[2022-06-22 00:34] Furry opened #171 "Implementing a persistent-session mechanic."
Hiya there o/

I have two questions,
1.)  Is there a difference in performance between using a Puppeteer Cluster versus using a singular puppeteer session with multiple tabs all rendering at once?

2.) Is there a way to have a persistent session so that in an environment (in my case, an API), the puppeteer instances wouldn't have to relaunch each time to render tabs?

[2022-06-27 14:36] s1103179 opened #172 "Unable to get browser page"
My code does nothing and after a while leaves the following error:
`(node:67808) UnhandledPromiseRejectionWarning: Error: Unable to get browser page
    at Worker.<anonymous> (G:\ONEDRIVE\\{DIRECTORY}\School\html-to-image-test\node_modules\puppeteer-cluster\dist\Worker.js:41:31)
    at Generator.next (<anonymous>)
    at fulfilled (G:\ONEDRIVE\{DIRECTORY}\School\html-to-image-test\node_modules\pup

[2022-07-01 02:02] zdev-online opened #174 "Error: Unable to launch browser..."
`Unable to launch browser, error message: ENOENT: no such file or directory, mkdtemp 'C:\Users\ADMINI~1\AppData\Local\Temp\2\puppeteer_dev_chrome_profile-XXXXXX'.`

**Why is this happening and how to fix it?**

[2022-07-04 19:31] Furry commented on #171
For anyone running into the same issues as I am, I wrote a library that operates similar to this one existing one that addresses these features, due to not having a reply to this issue after two weeks.

https://www.npmjs.com/package/node-image-from-html

[2022-07-04 20:44] frinyvonnick commented on #171
Hello 👋

I do this on my free time. Moreover, I'm the only maintainer. So please, be gentle and patient. Glad you find a way to fix your issue. If you want it to be included in node-html-to-image, feel free to explain your solution.

[2022-07-04 21:08] Furry commented on #171
I'd be happy to just implement a pull request for this, which was what I would've offered to do if I got a reply.

To fix this issue I created an instance manager class, where one browser was launched. Instead of creating many browsers, the one browser creates many tabs (as blink can spawn worker threads to render multiple documents at once, using multiple browsers does the same with more overhead

[2022-07-10 02:14] VictorPubh opened #175 "Heroku problem on Deploy"
I have a problem with Node HTML to Image, basically I'm retrieved the log:

2022-07-10T01:30:20.612661+00:00 app[web.1]: Available on: http://localhost:3000
2022-07-10T01:30:21.036249+00:00 heroku[web.1]: State changed from starting to up
2022-07-10T01:30:54.450976+00:00 app[web.1]: /app/node_modules/puppeteer-cluster/dist/Cluster.js:119
2022-07-10T01:30:54.450996+00:00 app[web.1]: throw new Error

[2022-07-20 10:41] amihos commented on #99
Hi, I have the same issue. Can you please show me how to pass that option?
will this work? puppeteerArgs: {'defaultViewport.deviceScaleFactor' : '1'},

[2022-07-20 16:20] goleary opened #176 "Emojis are rendered as boxes"

[2022-07-27 01:14] NPD-Admin commented on #175
You can run the conversion while including a `puppeteerArgs` option with the `--no-sandbox` flag, like so:
[code]
I had a substantially similar issue (the logs look familiar, don't know how to dig back through the Heroku logs that far to find the original error), but I was able to resolve it this way.  The Troubleshooting docs are actually pretty good and had *most* of this in it, with the excepti

[2022-08-01 09:33] williamsxu opened #177 "[BUG] generate image timeout"
"node-html-to-image": "^3.2.4"
node: 16.5.0
os: mac os 12.3.1

I am trying to generate images with loop:

[code]
But almost showing up the same error:
[code]
So How I can set up the timeout to resolve this error?

Thanks!

[2022-08-18 16:33] luanraithz commented on #80
I had performance issues for a scenario where a user request would start some good (~300) amount of screenshots, so if more than a small amount of users decided to do the same thing, the machine would run out of memory. I decided to create a singleton puppeteer cluster and enqueue manually the screenshots, another improvement was to render all the html in the same page and run query selectors (all

[2022-09-06 07:09] prioarief opened #178 "Unable to launch browser, error message: Failed to launch the browser process!"
Unable to launch browser, error message: Failed to launch the browser process!
Running as root without --no-sandbox is not supported. See https://crbug.com/638180.

[2022-09-10 14:01] sankara-sabapathy commented on #178
+++Same error

[2022-09-10 14:01] sankara-sabapathy commented on #178
Error:
Error: Unable to launch browser, error message: Could not find expected browser (chrome) locally. Run `npm install` to download the correct Chromium revision (982053).

[2022-09-22 01:04] zc9 commented on #177
I had the same problem

[2022-09-22 01:05] zc9 commented on #177
I have the same problem, looking for a solution

[2022-09-22 01:07] zc9 commented on #177
did you solve it

[2022-09-22 01:20] williamsxu commented on #177
not yet

[2022-09-22 09:34] zc9 opened #179 "generate image timeout"
"node-html-to-image": "^3.2.4"
node: 16.5.0
os: mac os 12.3.1

I am trying to generate images with loop:

for (let i =0; i<10; i++){
 await nodeHtmlToImage({
      puppeteerArgs: {
        timeout: 0,
        args: ['--no-sandbox', '--disable-setuid-sandbox'],
        headless: false,
      },
      output: outpoutPath,
      html: html_static_data,
      content: {
           ...
      },
    });

[2022-09-30 21:37] RickRyan26 commented on #178
same error

[2022-10-01 20:25] st-trade opened #180 "ERROR Missing helper while calling nodeHtmlToImage()"
While trying to input handlebars helper functions, go an error stating that the function added in the handlebarsHelper property of the options object could not be found. I've dived into the repo and found that the handleBars property is apparently missing in the nodeHtmlToImage function definition.

<img width="967" alt="image" src="https://user-images.githubusercontent.com/94030557/193427067-9a59

[2022-10-03 08:19] DamolAAkinleye opened #181 "Using Packages on Azure App Services"
We are trying to use the package on the Azure App services.

However, we are getting the unable to load browser error when using it via the PAAS Services on azure.

I have seen documentation for Heroku, however, this approach of installing buildpack does not work for Azure. Is there any sample we can use that has worked around this problem?

[2022-10-03 11:56] silhouette5366 commented on #177
having the same issue, did anyone find any solution?

[2022-10-03 11:56] silhouette5366 commented on #179
having the same issue, did anyone find any solution?

[2022-10-05 19:32] ShalaQweghen commented on #178
Try passing this `puppeteerArgs: { args: ['--no-sandbox'] }` to `nodeHtmlToImage` function.

[2022-10-12 05:49] igisho commented on #177
Same here

[2022-10-19 15:28] macsimtv commented on #178
Not working :/

[2022-10-22 16:51] frinyvonnick commented on #178
Hello there 👋

I see a lot a comments here. I need some explanations and instructions (step by step) to reproduce easily your use cases. Otherwise I won't be able to help you.

[2022-11-01 12:05] mcavazotti commented on #180
Same problem here

[2022-11-08 21:56] bpeters commented on #178
I believe they are probably running this in a aws-lambda env. It looks like your latest unrelease code fixes the issue with the custom puppeteer option.

[2022-11-14 11:18] balavarada commented on #164
Hi, Im using this module on testing API calls and I can able to reproduce in the following scenario,

I'm testing only one API - a POST HTTP and the no.of test data is around 509+. The payload is XML based and two to three parameters will be modified in each call.

After hitting around 430+ API calls, I'm getting the following error,

[code]

[2022-11-15 00:09] NaN-NaN-sempai commented on #165
+1
There really should be a way to catch erros from the html, a lot of things cause it to break my script, like not giving a html value or giveing a empty string

[2022-11-15 11:16] frinyvonnick commented on #165
I'm maintaining this repository on my free time. If someone want to investigate on this it would be appreciated otherwise I'll give it a look when I have time to do it. The link @krylovaaleksandra provided does not seems to work 🤔 I would prefer to have a full reproductible example. The more you provide the easier it is to fix the issue 😄

[2022-11-16 16:17] rChahine commented on #172
@Onctaaf did you find a solution ?